<section class="vp">
    <div>
        <a class="section-heading" href="{{ path('events_club_calendar') }}">{{ 'events.block.title'|trans }}</a>
    </div>

    <ul class="upcoming-events">
        {% for event in items %}
        <li>
            <div class="period">
                <div class="date">
                    <div class="day">{{ event.dateBegin|format_date('dd') }}</div>
                    <div class="month">{{ event.dateBegin|format_date('MMMM') }}</div>
                </div>
            </div>
            <a class="event-title" href="{{ path('events_club_calendar_event', {'id' : event.id}) }}">{{ event.title }}</a>
        </li>
        {% endfor %}
    </ul>

    <div class="button inverse wide">
        <a href="{{ path('events_club_calendar') }}">
            <svg class="svg-icon left" viewBox="0 0 16 16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-calendar"></use></svg>
            {{ 'events.block.calendarLabel'|trans }}
        </a>
    </div>
</section>
