<section id="comments" name="comments">
    <div class="section-heading special">
        {{ 'fos_comment_thread_comment_count'|trans({'%count%': ''}, "FOSCommentBundle") }}
        <span data-fos-comment-thread-id="{{ id }}" class="fos-comment-count">{{ numComments }}</span>
    </div>

    <div class="has-background add30inside">
        <div class="spinner">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>

        <ul id="fos_comment_thread" class="comment-list"></ul>
    </div>
</section>

{% javascripts '../app/Resources/public/js/comments.js' %}
    <script type="text/javascript">
    var fos_comment_thread_id = '{{ id }}';
    var fos_comment_thread_api_base_url = '{{ path('fos_comment_get_threads') }}';
    (function() {
        var fos_comment_script = document.createElement('script');
        fos_comment_script.src = '{{ asset_url }}';
        fos_comment_script.type = 'text/javascript';

        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(fos_comment_script);
    })();
    </script>
{% endjavascripts %}
