{% block fos_comment_comment %}

<li id="fos_comment_{{ comment.id }}" class="fos_comment_comment_show fos_comment_comment_depth_{{ depth }}" {% if parent is defined and parent is not null %}data-parent="{{ parent.id }}"{% endif %}>
    <a class="avatar size-80" href="{{ path('adrenalins_user_public_profile', {'username' : comment.author.username}) }}">
        <img src="{{ comment.author.avatar }}" border="0">
    </a>

    {% spaceless %}
    <div class="comment-data">
        {% if comment.author.enabled %}
            <a href="{{ path('adrenalins_user_public_profile', {'username' : comment.author.username}) }}">
                {{ comment.author.fullName }}
            </a>
        {% else %}
            {{ comment.author.fullName }}
        {% endif %}

        <span class="smaller lighter">
            <a href="#fos_comment_{{ comment.id }}">{{ comment.createdAt|localizeddate('long', 'short', app.request.locale) }}</a>
        </span>

        {% if app.user %}
            {% block fos_comment_comment_reply %}
                <a data-url="{{ url('fos_comment_new_thread_comments', {"id": comment.thread.id}) }}" data-name="{{ comment.author.fullName }}" data-parent-id="{{ comment.id }}" class="fos_comment_comment_reply_show_form reply" style="cursor: pointer;">{% trans from 'FOSCommentBundle' %}fos_comment_comment_show_reply{% endtrans %}</a>
            {% endblock fos_comment_comment_reply %}
        {% endif %}

        <div id="fos_comment_comment_body_{{ comment.id }}" class="fos_comment_comment_body">
            {% block fos_comment_comment_body %}
                {% if comment is fos_comment_in_state(constant('FOS\\CommentBundle\\Model\\CommentInterface::STATE_DELETED')) %}
                    {% trans from 'FOSCommentBundle' %}fos_comment_comment_deleted{% endtrans %}
                {% else %}
                    {% if comment is fos_comment_raw %}
                        {{ comment.rawBody | raw }}
                    {% else %}
                        {{ comment.body | raw | nl2br }}
                    {% endif %}
                {% endif %}
            {% endblock fos_comment_comment_body %}
        </div>
    </div>
    {% endspaceless %}

    {% block fos_comment_comment_children %}

        {% if view is not sameas('flat') %}
            <div class="fos_comment_comment_replies">
                {% if children is defined %}
                    {% include "FOSCommentBundle:Thread:comments.html.twig" with { "comments": children, "depth": depth + 1, "parent": comment, "view": view } %}
                {% endif %}
            </div>
        {% elseif view is sameas('flat') and children is defined %}
            {% include "FOSCommentBundle:Thread:comments.html.twig" with { "comments": children, "depth": depth + 1, "parent": comment, "view": view } %}
        {% endif %}

    {% endblock fos_comment_comment_children %}
</li>
{% endblock fos_comment_comment %}
