{% set first = first|default(false) %}

{% set url_parameters = {'id': id } %}
{% if parent is not null %}
    {% set url_parameters = url_parameters|merge({'parentId': parent.id}) %}
{% endif %}

{% block fos_comment_comment_form_holder %}
<li{% if parent is null %} class="new-comment-form"{% endif %}>
    <div class="fos_comment_comment_form_holder">
        {% block fos_comment_comment_new_form %}
            <a class="my avatar size-80" href="{{ path('adrenalins_user_public_profile', {'username' : app.user.username}) }}">
                <img src="{{ app.user.avatar }}" alt="{{ app.user.fullName }}">
            </a>

            <div class="comment-data">
                <form class="fos_comment_comment_new_form" action="{{ url('fos_comment_post_thread_comments', url_parameters) }}" data-parent="{{ parent.id|default() }}" method="POST">

                    {% block fos_comment_form_fields %}
                        <div class="fos_comment_form_errors">
                            {{ form_errors(form) }}
                            {{ form_errors(form.body) }}
                        </div>
                        {{ form_widget(form.body, {'id' : 'newCommentField', 'attr' : {'placeholder' : 'fos_comment_comment_your_comment'|trans({}, 'FOSCommentBundle') } }) }}

                        {{ form_rest(form) }}
                    {% endblock %}

                        {% block fos_comment_form_submit %}
                            <div class="button inverse">
                                <input type="submit" class="active" id="publishButton" value="{% trans from 'FOSCommentBundle' %}fos_comment_comment_new_submit{% endtrans %}" />
                            </div>
                            {% if parent is not null %}
                                <div class="button">
                                    <input type="button" value="{% trans from 'FOSCommentBundle' %}fos_comment_comment_reply_cancel{% endtrans %}" class="fos_comment_comment_reply_cancel" />
                                </div>
                            {% endif %}
                        {% endblock %}

                </form>
            </div>
        {% endblock fos_comment_comment_new_form %}
    </div>
<li>
{% endblock fos_comment_comment_form_holder %}
