{% set depth = depth|default(0) %}
{% set view = view|default('tree') %}

{% for commentinfo in comments %}
    {% include "FOSCommentBundle:Thread:comment.html.twig" with { "children": commentinfo.children, "comment": commentinfo.comment, "depth": depth, "view": view } %}
{% endfor %}

{% if depth == 0 and app.user %}
    {% render url("fos_comment_new_thread_comments", {"id": thread.id}) %}
{% endif %}