{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(page.title, (page.parent) ? page.parent.title : '') }}{% endblock %}
{% block meta_description %}{{ page.seoDescription }}{% endblock %}
{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}


{% block body %}
    <div class="content-area has-background">
        {% if page.layout == '2columns' %}
        <div class="left-narrow-column">
            <div class="sticky" id="left-column">
                {{ page.leftSideContent|raw }}
            </div>
        </div>
        {% endif %}

        <div class="{% if page.layout == 'default' %}only-column add30v{% else %}right-wide-column add30v{% endif %}">
            <article>
                <div class="article-heading-container">
                    {% if page.parent|length %}
                        <h2 class="article-parent">{{ page.parent }}</h2>
                    {% endif %}
                    <h1 class="article-heading">{{ page.title }}</h1>
                </div>

                <div>
                    <h4>{{ 'page.contacts.instructors'|trans }}</h4>
                    {% if users|length %}
                        {{ include( 'UserBundle::_pilots.html.twig', { 'users': users }) }}
                    {% endif %}

                    <h4>{{ 'page.contacts.school_placement'|trans }}</h4>
                    <div id="map-canvas"></div>
                    {{ page.content | raw }}
                </div>
            </article>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC8wSJSGkjnodOgN6xsf9y95ljtj6K6da8&sensor=false&extension=.js'></script>

    {% javascripts '../app/Resources/public/js/pages/contacts.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function () {
            google.maps.event.addDomListener(window, 'load', init('{{ 'page.gmaps.description' | trans }}', '{{ get_setting('contacts-map-lat-lon', '56.88851838952163, 24.212756752967834') }}'));
        });
    </script>
{% endblock javascripts %}



