{% form_theme form 'FeedbackBundle:Form:fields.html.twig' %}

<div class="slides inner">
    <div class="slide-content current">
        <div class="text clearfix vp">
            <div class="promo"><h2>{{ 'feedback.club.form.promo.title'|trans }}</h2></div>

            <div class="promo-form club">
                <div class="forms-container clearfix">

                    <div class="email-form">
                        <form action="{{ path('adrenalins_feedback_send', {'type' : 'club'}) }}" method="POST" class="add40r email-form-attr">
                            {{ form_widget(form.fullname) }}
                            {{ form_widget(form.email) }}

                            <div class="clearfix capcha-container">
                                {{ form_widget(form.captcha) }}
                            </div>

                            <div class="button wide">
                                <input type="submit" name="submit" value="{{ 'feedback.club.form.email_scubscribe.label_submit'|trans }}" class="submit-form">
                            </div>
                        </form>

                        <a href="#" class="back"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-cross2"></use></svg></a>
                    </div>

                    <div class="form-chooser">
                        <div class="clearfix">
                            <div class="one-half float-left center">
                                <a href="#" class="email-form-link">
                                    <svg class="form-chooser-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M85 22v47h-70v-47h70m1.75-7h-74c-2.761 0-4.75 2.239-4.75 5v51c0 2.762 1.989 5 4.75 5h74c2.762 0 5.25-2.238 5.25-5v-51c0-2.761-2.488-5-5.25-5z"/><path d="M57.672 80.125v.854c0 1.393-1.254 2.521-2.646 2.521h-10.303c-1.393 0-2.395-1.128-2.395-2.521v-.854h-42.328v2.875c0 2.762 1.989 5 4.75 5h90c2.762 0 5.25-2.238 5.25-5v-2.875h-42.328z"/><path d="M49.813 60.188c-.896 0-1.792-.342-2.475-1.025l-28.626-28.625c-1.367-1.367-1.367-3.583 0-4.95 1.367-1.366 3.583-1.366 4.95 0l26.15 26.15 26.15-26.15c1.367-1.366 3.582-1.366 4.949 0 1.367 1.367 1.367 3.583 0 4.95l-28.624 28.624c-.683.684-1.579 1.026-2.474 1.026z"/></svg>
                                    <span>{{ 'feedback.club.form.promo.email_scubscribe'|trans }}</span>
                                </a>
                            </div>

                            <div class="one-half float-left center">
                                <a href="#" class="sms-form-link">
                                    <svg class="form-chooser-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><path d="M66 74h-31v-48h31v4h5v-11.095c0-1.992-1.146-3.905-3.138-3.905h-34.624c-1.992 0-3.238 1.913-3.238 3.905v64.921c0 1.991 1.246 4.174 3.238 4.174h34.625c1.991 0 3.137-2.183 3.137-4.174v-16.826h-5v7zm-10-53c0 .552-.447 1-1 1h-9c-.553 0-1-.448-1-1s.447-1 1-1h9c.553 0 1 .448 1 1zm-5.09 62.104c-1.593 0-2.885-1.293-2.885-2.886 0-1.594 1.292-2.886 2.885-2.886 1.594 0 2.886 1.292 2.886 2.886s-1.292 2.886-2.886 2.886z"/><path d="M71.649 32.61h-12.984c-7.968 0-14.427 6.459-14.427 14.427v2.164c0 7.725 6.075 14.012 13.705 14.391v6.528l8.121-6.492h5.585c7.968 0 14.427-6.459 14.427-14.427v-2.164c0-7.968-6.459-14.427-14.427-14.427zm-13.086 19.536c-.581.441-1.403.662-2.465.662-.557 0-1.139-.058-1.748-.172s-1.158-.322-1.648-.625c-.083-.049-.129-.104-.143-.166-.012-.061.007-.152.057-.275l.478-1.165c.058-.139.114-.217.172-.233.057-.016.146 0 .27.049l.472.159c.193.058.398.111.62.16.22.049.451.09.692.123.241.032.477.049.705.049.196 0 .352-.019.467-.055.114-.037.203-.082.27-.135.064-.053.107-.113.128-.178l.031-.171-.024-.196c-.016-.065-.056-.129-.116-.189-.062-.062-.158-.127-.288-.197-.131-.069-.308-.145-.528-.227-.425-.155-.82-.317-1.189-.485-.368-.167-.687-.357-.956-.57-.271-.212-.482-.456-.639-.729-.154-.274-.232-.595-.232-.963 0-.352.061-.688.178-1.012.119-.323.303-.607.552-.853.25-.245.57-.439.963-.582.394-.143.858-.215 1.398-.215.498 0 1.004.047 1.514.141.512.094.943.235 1.294.423.139.065.213.126.222.184.008.057-.021.171-.087.343l-.33 1.018c-.059.155-.113.245-.167.27-.053.025-.148.017-.288-.025-.351-.098-.712-.173-1.085-.227-.372-.053-.717-.08-1.035-.08-.287 0-.477.042-.57.123-.095.082-.142.18-.142.294l.03.153.123.172c.062.061.151.125.27.19.119.065.28.135.484.208.491.188.933.375 1.324.558.393.184.724.391.993.62.271.229.479.493.626.791.147.299.222.647.222 1.048-.004.883-.295 1.546-.875 1.987zm11.379.293c0 .115-.021.183-.063.203l-.221.03h-1.617l-.203-.03c-.046-.021-.067-.088-.067-.203v-4.07h-.074l-.626 1.397-.637 1.361c-.091.204-.182.346-.276.423-.094.078-.231.117-.41.117h-.821c-.205 0-.346-.039-.424-.117-.077-.077-.166-.219-.263-.423l-.553-1.104-.711-1.509h-.073v3.924c0 .115-.021.183-.062.203l-.208.03h-1.705l-.209-.03s-.073-.088-.073-.203v-7.382c0-.384.069-.642.208-.772.14-.131.364-.196.675-.196h.944c.262 0 .45.047.563.141.115.094.226.247.331.46l.982 2.035.956 2.012h.048l.957-1.987.981-2.023c.105-.213.226-.373.356-.479.13-.106.351-.159.661-.159h.761c.13 0 .249.01.355.03.105.021.198.062.276.123.078.062.137.151.177.27.042.119.063.272.063.459v7.469zm7.309-.293c-.581.441-1.402.662-2.465.662-.556 0-1.14-.058-1.747-.172-.61-.114-1.159-.322-1.65-.625-.082-.049-.129-.104-.141-.166-.013-.061.006-.152.056-.275l.478-1.165c.058-.139.115-.217.172-.233s.147 0 .27.049c.122.049.28.102.473.159.191.058.398.111.619.16s.452.09.692.123c.241.032.477.049.705.049.197 0 .353-.019.467-.055.113-.037.204-.082.27-.135l.128-.178.032-.171-.025-.196c-.017-.065-.056-.129-.116-.189-.062-.062-.158-.127-.288-.197-.131-.069-.308-.145-.527-.227-.426-.155-.822-.317-1.19-.485-.367-.167-.686-.357-.956-.57-.27-.212-.481-.456-.638-.729-.155-.274-.232-.595-.232-.963 0-.352.059-.688.178-1.012.118-.323.302-.607.552-.853.248-.245.57-.439.963-.582.392-.143.858-.215 1.398-.215.498 0 1.002.047 1.514.141.511.094.942.235 1.294.423.139.065.213.126.22.184.009.057-.021.171-.085.343l-.332 1.018c-.057.155-.111.245-.165.27-.053.025-.148.017-.288-.025-.352-.098-.713-.173-1.085-.227-.372-.053-.718-.08-1.036-.08-.287 0-.477.042-.571.123-.094.082-.14.18-.14.294l.03.153.123.172c.061.061.15.125.27.19.117.065.279.135.484.208.49.188.931.375 1.323.558.394.184.724.391.994.62.27.229.478.493.625.791.147.299.221.647.221 1.048-.004.883-.294 1.546-.874 1.987z"/></svg>
                                    <span>{{ 'feedback.club.form.promo.sms_scubscribe'|trans }}</span>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="sms-form">
                        <form action="{{ path('adrenalins_feedback_send', {'type' : 'club'}) }}" method="POST" class="add40r sms-form-attr">
                            {{ form_widget(form.smsFullName) }}
                            {{ form_widget(form.smsId) }}

                            <div class="clearfix capcha-container">
                                {{ form_widget(form.smsCaptcha) }}
                            </div>

                            <div class="button wide">
                                <input type="submit" name="submit" value="{{ 'feedback.club.form.sms_scubscribe.label_submit'|trans }}" class="submit-form">
                            </div>
                        </form>

                        <a href="#" class="back"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-cross2"></use></svg></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>