{% form_theme form 'FeedbackBundle:Form:fields.html.twig' %}

<div class="slides inner">
    <div class="slide-content current">
        <div class="text clearfix vp">
            <div class="promo">
                <h2>{{ 'feedback.school.form.promo.title'|trans }}</h2>
            </div>

            <form action="{{ path('adrenalins_feedback_send', {'type' : 'school'}) }}" method="POST" class="promo-form">
                {{ form_widget(form.fullname) }}
                {{ form_widget(form.age) }}
                {{ form_widget(form.phone) }}
                {{ form_widget(form.email) }}

                <div class="clearfix capcha-container">
                    {{ form_widget(form.captcha) }}
                </div>

                <div class="button wide">
                    {{ form_rest(form) }}

                    <input type="submit" name="submit" value="{{ 'feedback.school.form.label_submit'|trans }}" class="submit-form">
                </div>
            </form>

        </div>
    </div>
</div>