<section class="add30b">
    <div>
        <span class="section-heading">{{ 'sms.block.title'|trans }}</span>
    </div>

    <div class="sms-system">
        <p>{{ 'sms.block.description'|trans }}</p>

        <form method="post" action="{{ path('adrenalins_sms_send') }}">
            {{ form_widget(form.email) }}

            <div class="button wide">
                <input type="submit" value="{{ 'sms.block.form.submit'|trans }}">
            </div>
        </form>

        <p class="small">{{ 'sms.block.need_help.operator'|trans }}</p>

        <div id="sms-tabs">
            <a href="#lmt">{{ 'sms.block.need_help.operator.lmt'|trans }}</a>
            <a href="#tele2">{{ 'sms.block.need_help.operator.tele2'|trans }}</a>
            <a href="#bite">{{ 'sms.block.need_help.operator.bite'|trans }}</a>
        </div>

        <div id="lmt" class="sms-section">
            <p>{{ 'sms.block.need_help.operator.lmt.info'|trans }}</p>
        </div>

        <div id="tele2" class="sms-section">
            <p>{{ 'sms.block.need_help.operator.tele2.info'|trans }}</p>
        </div>

        <div id="bite" class="sms-section">
            <p>{{ 'sms.block.need_help.operator.bite.info'|trans }}</p>
        </div>
    </div>
</section>