<li onclick="location.href = '{{ news.url }}';">
    <a href="{{ news.url }}" class="news-thumbnail">
        <img src="{{ news.imageThumb }}" alt="{{ news.title }}" title="{{ news.title }}" border="0" />
    </a>

    <div class="news-data">
        <a href="{{ news.url }}" class="news-title">{{ news.title }}</a>
        <div class="news-intro">
            {{{ news.shortDescription }}}
        </div>
    </div>

    <div class="news-attributes clearfix">
        <div class="news-post-date">{{ news.createdAt }}</div>

        <a href="{{ news.url }}#comments" class="{{#if news.hasNewComments }}has {{/if}}badge comments">
            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-comment"></svg><span>{{ news.numComments }}</span>
        </a>

        {{#if news.hasGalleries }}
        <a href="{{ news.url }}#gallery" class="has photogallery">
            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-pictures"></use></svg> {{ news.labelGalleries }}
        </a>
        {{/if}}

        {{#if news.hasVideos }}
        <a href="{{ news.url }}#video" class="has video">
            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-play"></svg> {{ news.labelVideos }}
        </a>
        {{/if}}
    </div>
</li>
