@mixin pad($padding: flex-gutter()) {
    $padding-list: null;
    @each $value in $padding {
        $value: if($value == 'default', flex-gutter(), $value);
        $padding-list: join($padding-list, $value);
    }
    padding: $padding-list;
}
