{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">

        var textInputClass = '.settings-text';
        var fileInputClass = '.settings-file';
        var selectClass = 'select.settings-choice';
        var selectTypeClass = 'select.settings-type';
        var additionalChoices = {};

        function showTextInput() {
            $(fileInputClass).closest('.control-group').hide();
            $(fileInputClass).prop('disabled', true);
            $(selectClass).closest('.control-group').hide();
            $(selectClass).prop('readonly', true);

            $(textInputClass).prop('disabled', false);
            $(textInputClass).closest('.control-group').show();
        }

        function showFileInput() {
            $(textInputClass).closest('.control-group').hide();
            $(textInputClass).prop('disabled', true);
            $(selectClass).closest('.control-group').hide();
            $(selectClass).prop('readonly', true);

            $(fileInputClass).prop('disabled', false);
            $(fileInputClass).closest('.control-group').show();
        }

        function showSelect() {
            $(textInputClass).closest('.control-group').hide();
            $(textInputClass).prop('disabled', true);
            $(fileInputClass).closest('.control-group').hide();
            $(fileInputClass).prop('disabled', true);

            $(selectClass).closest('.control-group').show();
            $(selectClass).prop('readonly', false);
        }

        $(document).ready(function(){

            {% if object.id is not null %}
            $(selectTypeClass).attr('readonly', true);
            {% endif %}

            $(selectTypeClass).on('change', function() {
                var type = $(this).val();

                if (type == 'text') {
                    showTextInput();
                }
                else if (type == 'file') {
                    showFileInput();
                }
                else if (type == 'select') {
                    showSelect();
                }
            });

            $(selectTypeClass).trigger('change');

            if ($('.select-allow-add').length > 0) {
                $(selectClass).closest('.controls').append('<span class="field-actions"><span class="btn-group"><a href="#" style="margin-bottom: 7px;" class="btn btn-small sonata-ba-action select-add-button"><i class="icon-plus"></i>{{ "Добавить новый"|trans }}</a></span><span class="btn-group"></span></span>');

                $('.select-add-button').on('click', function(e) {
                    e.preventDefault();
                    var fields =
                            '<div class="control-group select-add-input-group">' +
                                    '<label class="control-label"> </label>' +
                                    '<div class="controls sonata-ba-field sonata-ba-field-standard-natural  ">' +
                                    '<input type="text" id="select-value" class="span3" placeholder="{{ 'Ключ'|trans }}"> ' +
                                    '<input type="text" id="select-title" class="span3" placeholder="{{ 'Значение'|trans }}"> ' +
                                    '<a href="#" style="margin-left:5px;" class="btn btn-small sonata-ba-action select-save-option-button"><i class="icon-plus"></i>{{ 'Записать'|trans }}</a>' +
                                    '<a href="#" style="margin-left:5px;" class="btn btn-small sonata-ba-action select-close-option-button"><i class="icon-remove"></i>{{ 'Закрыть'|trans }}</a>' +
                                    '</div>' +
                                    '</div>';

                    $(fields).insertAfter($(selectClass).closest('.control-group'));

                });
            }

            $('body').on('click', '.select-save-option-button', function(e) {
                e.preventDefault();
                var controlGroup = $(this).closest('.control-group');
                var value = $(controlGroup).find('#select-value').val();
                var title = $(controlGroup).find('#select-title').val();

                if (value == '' || title == '') {
                    alert('{{ 'Ошибка: должны быть заполнены и ключ, и значение'|trans }}');
                    return;
                }

                additionalChoices[value] = title;
                $('.settings-additional-choices').val(JSON.stringify(additionalChoices));

                $(selectClass).append('<option value="' + value + '">' + title + '</option>');
                $(selectClass).select2('val', value);

                $(controlGroup).remove();
            });

            $('body').on('click', '.select-close-option-button', function(e) {
                e.preventDefault();
                $(this).closest('.control-group').remove();
            });

        });

    </script>

{% endblock %}