{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.type == 'file' %}
        {% if '.jpg' in object.path or '.jpeg' in object.path or '.png' in object.path %}
            <img style="max-width: 300px; max-height: 300px;" src="/{{ get_setting(object.key) }}"/>
        {% else %}
            <a href="/{{ get_setting(object.key) }}">{{ 'Ссылка'|trans }}</a>
        {% endif %}

    {% else %}
        {{ get_setting(object.key) }}
    {% endif %}


{% endblock %}