{% extends "::base.html.twig" %}


{% block body %}
    <div class="content-area has-background">
        <div class="left-narrow-column">
            <div class="sticky">
                {{ sonata_block_render({ 'type': 'adrenalins.block.submenu' }, { 'attr': { 'page' : page }}) }}

                {{ sonata_block_render({ 'type': 'adrenalins.block.sms' }) }}
            </div>
        </div>

        <div class="right-wide-column add30v">
            <article>
                <a id="start" name="start"></a>

                <div class="article-heading-container">
                    {% if page.parent|length %}
                        <h2 class="article-parent">{{ page.parent }}</h2>
                    {% endif %}
                    <h1 class="article-heading">{{ page.title }}</h1>
                </div>

                {{ page.content|raw }}

                <div id="waterfall-related-galleries" class="clearfix"></div>
            </article>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '../app/Resources/public/js/libs/handlebars-v1.3.0.js'
    '@ApplicationSonataMediaBundle/Resources/views/hbs/static_gallery_items.handlebars'
    '../app/Resources/public/js/pages/static_page_media.js'
    '../app/Resources/public/js/pages/sms.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}


