{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '../app/Resources/public/css/admin/AdminLTE.css'
    output='css/admin/AdminLTE.css' %}
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {{ tinymce_init() }}

    {% if form is defined %}
        {{ form_javascript(form) }}
    {% endif %}
{% endblock javascripts %}
