{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(page is not null ? page.title : 'Search') }}{% endblock %}
{% block meta_description %}{% if page is not null %}{{ page.seoDescription }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if page is not null %}{{ page.seoKeywords }}{% endif %}{% endblock %}


{% block body %}
    <div class="content-area has-background">
        <div class="only-column add30v">
            <div class="article-heading-container">
                <h2 class="article-parent">
                    {% transchoice totalFound %}
                    {0} There are no items found matching|
                    {1} There is one item found matching|]1,Inf] There are %count% items found matching
                    {% endtranschoice %}
                </h2>

                <h1 class="article-heading">{{ searchQuery }}</h1>
            </div>

            <ul class="search-results">
                {% for doc in docs %}
                <li>
                    <h3 class="title">
                        <a href="{{ doc['objectUrl'] }}">{{ doc['title'] | raw }}</a>
                    </h3>
                    <div class="smaller lighter">{{ doc['breadcrumbs'] | raw }}</div>
                    <div class="matching-string">{{ doc['content'] | trim(' ') | trim('.') | raw }}&hellip;</div>
                </li>
                {% endfor %}
            </ul>

            <div class="button at-center add30t">
                {% if showMore %}
                    <a href="#" data-search-query="{{ rawSearchQuery }}" data-next-page-index="{{ nextPageIndex }}">
                        {% transchoice nextPageCount %}
                        {1} Load last one|]1,Inf] Load next %count% results
                        {% endtranschoice %}
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '../app/Resources/public/js/libs/handlebars-v1.3.0.js'
    '@SearchBundle/Resources/views/hbs/Search/search_item.handlebars'
    '../app/Resources/public/js/pages/search.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
