{% block a2lix_translations_widget %}
    {{ form_errors(form) }}
    <div class="a2lix_translations tabbable">
        <ul class="a2lix_translationsLocales nav nav-tabs">
            {% for translationsFields in form %}
                {% set locale = translationsFields.vars.name %}

                <li {% if app.request.locale == locale %}class="active"{% endif %}>
                    <a class="no-ajax" href="{{ locale }}" translation-tab="1" data-toggle="tab"
                       data-target=".a2lix_translationsFields-{{ locale }}">
                        <i class="icon-exclamation-sign has-errors hide"></i>
                        {{ locale|capitalize }}
                    </a>
                </li>
            {% endfor %}
        </ul>

        <div class="a2lix_translationsFields tab-content">
            {% for translationsFields in form %}
            {% set locale = translationsFields.vars.name %}

            <div id={{ locale }} class=
            "a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %}">
            {{ form_widget(translationsFields) }}
        </div>

        {% endfor %}
    </div>
{% endblock %}

{% block a2lix_translations_gedmo_widget %}
    {% if form.vars.simple_way %}
        {{ block('a2lix_translations_widget') }}
    {% else %}
        <div class="a2lix_translations tabbable">
            <ul class="a2lix_translationsLocales nav nav-tabs">
                {% for translationsLocales in form %}
                    {% set isDefaultLocale = 'defaultLocale' == translationsLocales.vars.name %}

                    {% for translationsFields in translationsLocales %}
                        {% set locale = translationsFields.vars.name %}
                        <li {% if app.request.locale == locale %}class="active"{% endif %}>
                            <a class="no-ajax" href="{{ locale }}" translation-tab="1" data-toggle="tab"
                               data-target=".a2lix_translationsFields-{{ locale }}">
                                <i class="icon-exclamation-sign has-errors hide"></i>
                                {{ locale|capitalize }} {% if isDefaultLocale %}[Default]{% endif %}
                            </a>
                        </li>
                    {% endfor %}
                {% endfor %}
            </ul>

            <div class="a2lix_translationsFields tab-content">
                {% for translationsLocales in form %}
                    {% for translationsFields in translationsLocales %}
                        {% set locale = translationsFields.vars.name %}

                        <div id={{ locale }} class="a2lix_translationsFields-{{ locale }} tab-pane {% if app.request.locale == locale %}active{% endif %}">
                            {{ form_widget(translationsFields) }}
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block a2lix_translationsForms_widget %}
    {{ block('a2lix_translations_widget') }}
{% endblock %}