<nav class="lang-menu">
    {% spaceless %}
    <ul>
        {% for locale in available_locales %}
        <li>
            <a{% if app.request.locale == locale %} class="current"{% endif %} href="{{ currentPathWithLocale(app.request.uri, locale) }}">{{ ('header.language_switcher.' ~ locale)|trans }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endspaceless %}
</nav>