<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}{% endblock %}{{ 'page.title'|trans }}</title>
    <meta name="keywords" content="{% spaceless %}{% block meta_keywords %}{% endblock %}{% endspaceless %}"/>
    <meta name="description" content="{% spaceless %}{% block meta_description %}{% endblock %}{% endspaceless %}"/>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />


    {% block stylesheets %}
        {% stylesheets
        '../app/Resources/public/css/adrenalins.style.css'
        output='css/adrenalins.style.css' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}?10"/>
        {% endstylesheets %}
    {% endblock %}

    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
    <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-touch-icon-152x152.png">
    <meta name="msapplication-TileColor" content="#e04c40">
    <meta name="msapplication-TileImage" content="/img/favicon/mstile-144x144.png">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon/favicon-16x16.png" sizes="16x16">
    {% block prefetch %}{% endblock %}
</head>

<body>
<a name="cloudbase" id="cloudbase"></a>
<div id="svg-placeholder"></div>

{% block pageSlideContainer %}
    <div class="slide-container current" data-stellar-ratio="0.2" style="background-image: url('{% if page is not null %}{{ page.cover }}{% else %}/img/slides/1.jpg{% endif %}')">
    </div>
{% endblock %}

{% include '::header.html.twig' %}

{% if 'club' in app.request.pathInfo %}
    {{ sonata_block_render({ 'type': 'adrenalins.block.feedback' }, { 'attr': { 'type' : 'club' }}) }}
{% elseif 'school' in app.request.pathInfo %}
    {{ sonata_block_render({ 'type': 'adrenalins.block.feedback' }, { 'attr': { 'type' : 'school' }}) }}
{% elseif 'tandem' in app.request.pathInfo %}
    {{ sonata_block_render({ 'type': 'adrenalins.block.feedback' }, { 'attr': { 'type' : 'tandem' }}) }}
{% elseif 'paramotors' in app.request.pathInfo %}
    {{ sonata_block_render({ 'type': 'adrenalins.block.feedback' }, { 'attr': { 'type' : 'paramotors' }}) }}
{% endif %}

{% block body %}{% endblock %}

{% include '::footer.html.twig' %}

{% block javascripts %}
    <script type="text/javascript">GOTO_MENU_LABEL = '{{ 'common.menu.go_to.label'|trans }}';</script>
    {% javascripts
    "../app/Resources/public/js/libs/svg-icons.js"
    "../app/Resources/public/js/libs/jquery-2.1.0.min.js"
    "../app/Resources/public/js/libs/jquery.stellar.min.js"
    "../app/Resources/public/js/libs/jquery.viewportchecker.js"
    "../app/Resources/public/js/libs/jquery.waterfall.min.js"
    "../app/Resources/public/js/libs/jquery.magnific-popup.min.js"
    "../app/Resources/public/js/libs/jquery.resizeimagetoparent.js"
    "../app/Resources/public/js/libs/jquery.mousewheel.min.js"
    "../app/Resources/public/js/libs/jquery.qtip.min.js"
    "../app/Resources/public/js/libs/foundation-datepicker.js"
    "../app/Resources/public/js/common.js" %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script>
        document.getElementById("svg-placeholder").innerHTML = SVG_SPRITE;

        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
        ga('create', 'UA-7089710-1', 'auto');
        ga('send', 'pageview');
    </script>
{% endblock %}
</body>
</html>
