<footer>
    {{ sonata_block_render({ 'type': 'adrenalins.block.menu' }, { 'attr': {'spot': 'footer'}}) }}
</footer>

<div class="bottom-line clearfix">
    {% if app.user %}
        {{ sonata_block_render({ 'type': 'adrenalins.block.online' }) }}
    {% endif %}

    <a target="_blank" href="http://www.kalichava.lv" class="made-by-kalichava">Made by kalichava<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g><path d="M14.384 12.807c1.01-1.339 1.616-3 1.616-4.807 0-2-.738-3.823-1.951-5.226l-4.219 4.825 4.554 5.208zM4.749 7.644l6.641 7.595c.615-.288 1.191-.646 1.708-1.073l-5.726-6.549.016-.018-.016-.018 5.303-6.063c-1.316-.952-2.928-1.518-4.675-1.518-1.159 0-2.257.251-3.251.695v6.949zM3 1.76c-1.827 1.467-3 3.715-3 6.24s1.173 4.774 3 6.24v-12.48zM4.749 10.472v4.834c.994.442 2.092.694 3.251.694.5 0 .987-.052 1.461-.14l-4.712-5.388z"/></g></svg></a>
</div>
<!-- FACEBOOK LIKE --><div id="fb-root"></div><!-- end FACEBOOK LIKE -->