<header>
    <div class="clearfix">
        <div class="left-narrow-column">
            {% include '::_lang_menu.html.twig' %}
        </div>

        <div class="right-wide-column">
            <div class="top-line">
                <div class="search-block">
                    <div class="about-adrenalins">{{ 'header.about'|trans }}</div>

                    <a href="javascript:;" class="search-link {% if app.request.get('query') != '' %}flip{% endif %}">
                        <span class="front animate"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-search"></use></svg>{{ 'common.visible_search.text' | trans }}</span>
                        <span class="back animate"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-cross"></use></svg>{{ 'common.hidden_search.text' | trans }}</span>
                    </a>
                </div>

                {% if app.user %}
                    <div class="user-block">
                        <div class="user-menu-container">
                            <a href="javascript:;" class="user-menu-link">{{ 'header.welcome_message'|trans({'%name%': app.user}) }} <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-list"></use></svg></a>
                        </div>

                        <div class="miniforum">
                            <a href="{{ path('adrenalins_miniforum') }}">{{ 'header.miniforum'|trans }}</a>
                        </div>

                        <div>
                            <a href="{{ path('sonata_user_security_logout') }}">{{ 'header.user.logout'|trans }}</a>
                        </div>

                        <ul class="user-menu" id="user-menu">
                            <li>
                                <a href="{{ path('fos_user_profile_edit') }}">
                                    <svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-vcard"></use></svg>
                                    {{ 'header.user.block.menu.edit_profile'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('adrenalins_user_media_gallery_create') }}">
                                    <svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-pictures"></use></svg>
                                    {{ 'header.user.block.menu.add_edit_galleries'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('adrenalins_user_media_video_create') }}">
                                    <svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-video"></use></svg>
                                    {{ 'header.user.block.menu.add_edit_videos'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('adrenalins_user_news_create') }}">
                                    <svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-text2"></use></svg>
                                    {{ 'header.user.block.menu.add_edit_news'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('adrenalins_user_miniforum_create') }}">
                                    <svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-comment"></use></svg>
                                    {{ 'header.user.block.menu.add_edit_miniforum_post'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('adrenalins_user_places_create') }}">
                                    <svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-compass"></use></svg>
                                    {{ 'header.user.block.menu.add_places'|trans }}
                                </a>
                            </li>
                            <li>
                                <a href="{{ path('adrenalins_user_events_create') }}">
                                    <svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-calendar"></use></svg>
                                    {{ 'header.user.block.menu.add_events'|trans }}
                                </a>
                            </li>
                        </ul>
                    </div>
                {% else %}
                    <div class="user-block">
                        <div class="user-menu-container">
                            <a href="javascript:;" class="pilot-login-link">
                                <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-user"></use></svg>
                                {{ 'header.login.block.title'|trans }}
                            </a>
                        </div>

                        <form class="pilot-login" id="pilot-login" method="post" action="{{ path('fos_user_security_check') }}" name="pilot-login-form">
                            <div><input type="text" id="login-form-login" name="_username" maxlength="30" placeholder="{{ 'header.login.block.login'|trans }}" /></div>
                            <div><input type="password" id="login-form-password" name="_password" maxlength="30" placeholder="{{ 'header.login.block.password'|trans }}" /></div>
                            <div class="button inverse wide">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                <input type="submit" value="{{ 'header.login.block.submit'|trans }}">
                            </div>
                        </form>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>

    <div class="clearfix">
        <div class="left-narrow-column center">
            <div class="logo">
                <a href="{{ path('adrenalins_homepage') }}">
                    <img src="/img/svg/adrenalins-logo.svg" />
                </a>
            </div>
        </div>

        <div class="right-wide-column panel {% if app.request.get('query') != '' %}flip{% endif %}">
            <div class="front">
                {{ sonata_block_render({ 'type': 'adrenalins.block.menu' }, { 'attr': {'spot': 'header'}}) }}
            </div>

            <div class="back">
                <form class="search-form" action="{{ path('adrenalins_search') }}" method="get">
                    <input type="text" name="query" class="search-keyword" placeholder="{{ 'header.searchForm.placeholder' | trans }}" {% if app.request.get('query') != '' %}value="{{ app.request.get('query') }}"{% endif %} />
                    <button type="submit" class="button"></button>
                </form>
            </div>
        </div>

    </div>
</header>
