{% extends 'SonataAdminBundle:CRUD:edit.html.twig' %}

{% block sonata_wrapper %}
    {{ parent() }}

    <script type="text/javascript">
        var $autocompleteInput = $('*[data-isCustomSelect2="true"]');
        if ($autocompleteInput.length) {
            $autocompleteInput.select2({
                tags: [],
                tokenSeparators: [",", " "]
            });
        }
    </script>
{% endblock sonata_wrapper %}