{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% if object.status == constant('STATUS_PENDING', object) %}
        <span class="label label-default">{{ object.status|upper }}</span>
    {% elseif object.status == constant('STATUS_DELIVERED', object) %}
        <span class="label label-success">{{ object.status|upper }}</span>
    {% else %}
        <span class="label label-danger">{{ object.status|upper }}</span>
    {% endif %}
{% endblock %}