<a onClick="return confirm('Are you sure you want send?')" href="{{ admin.generateObjectUrl('send', object) }}" class="btn btn-sm btn-default" title="Send">
    <i class="glyphicon glyphicon-send"></i>
    Send
</a>