{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if object.position != 1 %}
            <a href="{{ path('sort_move_up', { 'type': object.getClassNameFullPath() | url_encode,'id': object.id}) }}"
               class="remove_max_width">
                <img src="{{ asset('bundles/faq/images/desc.png') }}"
                     alt="{% trans %}Вверх{% endtrans %}"/>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}