{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if admin.last_position != object.position %}
            <a href="{{ path('sort_move_down', { 'type': object.getClassNameFullPath() | url_encode,'id': object.id}) }}" class="remove_max_width">
                <img src="{{ asset('bundles/faq/images/asc.png') }}"
                     alt="{% trans %}Вниз{% endtrans %}"/>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}