<div class="mainpage slides">
    {% for slide in items %}
    <div class="slide-content{% if loop.first %} current{% endif %}">
        <div class="text clearfix">
            <div class="promo">
                <h2>{{ slide.description|raw }}</h2>
            </div>

            <div class="action">
                <a href="{{ slide.url }}">
                    <span>{{ slide.subTitle|raw }}</span>
                    <i><svg xmlns="http://www.w3.org/2000/svg" width="10" height="20" viewBox="0 0 10 20"><path d="M.445 20c-.114 0-.228-.047-.315-.139-.174-.187-.174-.488 0-.674l8.606-9.187-8.606-9.187c-.174-.187-.174-.487 0-.673s.457-.186.631 0l9.238 9.86-9.238 9.862c-.087.091-.201.138-.316.138z"/></svg></i>
                </a>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="slides-menu clearfix">
        {% for slide in items %}
        <div class="slides-menu-item animate{% if loop.first %} current{% endif %}">
            <a href="{{ slide.url }}">
                <img src="{{ slide.blockImage }}" />
                <span class="content"></span>
                <span class="heading-bg"></span>
                <span class="call-to-action"><i></i> {{ slide.subTitle|raw }} <i></i></span>
                <h3>{{ slide.title|raw }}</h3>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
