{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(page.title, (page.parent) ? page.parent.title : '') }}{% endblock %}
{% block meta_description %}{{ page.seoDescription }}{% endblock %}
{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}


{% block body %}
    <div class="content-area has-background">
        <div class="left-narrow-column">
            <div class="sticky">
                {{ sonata_block_render({ 'type': 'adrenalins.block.submenu' }, { 'attr': { 'page' : page }}) }}

                {{ sonata_block_render({ 'type': 'adrenalins.block.events' }) }}
            </div>
        </div>

        <div class="right-wide-column add30v">
            <article>
                <a id="start" name="start"></a>

                <div class="article-heading-container">
                    {% if page.parent|length %}
                        <h2 class="article-parent">{{ page.parent }}</h2>
                    {% endif %}
                    <h1 class="article-heading">{{ page.title }}</h1>
                </div>

                <div id="map-canvas"></div>
            </article>
        </div>
    </div>
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}

    <style type="text/css">
        .gm-style-iw {
            width:100%;
        }
    </style>
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts 'https://maps.googleapis.com/maps/api/js?key=AIzaSyC8wSJSGkjnodOgN6xsf9y95ljtj6K6da8&sensor=true' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        var places = {{ jsonPlaces|raw }};

        function initialize() {
            var mapOptions = {
                center: new google.maps.LatLng(56.888515, 24.212807),
                mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.TERRAIN, google.maps.MapTypeId.HYBRID]
                },
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                zoom: 7,
                panControl: false,
                streetViewControl: false,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.LARGE
                }
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);
            setMarkers(map, places);
        }

        var infowindow =  new google.maps.InfoWindow({
            content: '',
            minWidth: 400,
            maxWidth: 400
        });

        function setMarkers(map, locations) {
            var image = {
                url: '/img/pointer.png?flat',
                size: new google.maps.Size(61, 61),
                origin: new google.maps.Point(0, 0),
                anchor: new google.maps.Point(31, 56)
            };
            var shape = {
                coord: [12, 23, 31, 56, 50, 23, 31, 5],
                type: 'poly'
            };

            for (var i = 0; i < locations.length; i++) {

                var place = locations[i],
                    myLatLng = new google.maps.LatLng(place[2], place[3]),
                    placeHtmlData = '';

                var marker = new google.maps.Marker({
                    position: myLatLng,
                    map: map,
                    icon: image,
                    shape: shape,
                    title: place[1],
                    zIndex: place[4]
                });

                if(place[7] || place[9] || place[11]) {
                    placeHtmlData += '<div class="place-data">\n';
                    if(place[7]) {
                        placeHtmlData += '<a href="' + place[0] + '" class="photos">' + place[6] + '<span>' + place[7] + '</span></a>\n';
                    }
                    if(place[9]) {
                        placeHtmlData += '<a href="' + place[0] + '" class="videos">' + place[8] + '<span>' + place[9] + '</span></a>\n';
                    }
                    if(place[11]) {
                        placeHtmlData += '<a href="' + place[0] + '" class="news">' + place[10] + '<span>' + place[11] + '</span></a>\n';
                    }
                    placeHtmlData += '</div>\n';
                }

                // add an event listener for this marker
                bindInfoWindow(marker, map, infowindow,
                    '<div style="min-width: 400px;" class="place-infowindow">\n\
                        <h4>\n\
                            <a href="'+ place[0] +'">'+ place[1] +'</a>\n\
                        </h4>\n\
                        <div class="coordinates">'+ place[2] +', '+ place[3] +'</div>\n\
                        <p>'+ place[5] +'</p>\n\
                        '+ placeHtmlData +'\
                    </div>');
            }
        }

        function bindInfoWindow(marker, map, infoWindow, html) {
            google.maps.event.addListener(marker, 'mouseover', function () {
                infoWindow.setContent(html);
                infoWindow.open(map, marker);
            });

            google.maps.event.addListener(map, 'click', function() {
                infoWindow.close();
            });
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock javascripts %}
