{% extends "::base.html.twig" %}

{% set pageTitle = (id) ? 'user.places.manage.title.edit'|trans : 'user.places.manage.title'|trans %}
{% block title %}{{ getMetaTitle(pageTitle, 'pilots.my_accout'|trans) }}{% endblock %}

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}


{% block body %}
<div class="content-area">
    <div class="button back">
        <a href="{{ path('adrenalins_homepage') }}">
            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-arrow-left3"></use></svg>
        </a>
    </div>

    <div class="has-background clearfix">
        <div class="only-column add30v">
            <div class="main-content">
                <a id="start" name="start"></a>

                <div class="article-heading-container">
                    <h2 class="article-parent">{{ user }}</h2>
                    <h1 class="article-heading">{{ pageTitle }}</h1>
                </div>

                <div class="user-form">

                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="msg-success">
                            <p>{{ flashMessage | trans | raw }}</p>
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="msg-error">
                            <p>{{ flashMessage | trans }}</p>
                            {% if formErrors %}
                                {% for errorField,erroMessage in formErrors %}
                                    <p>{{ ('Field "%field%" error message "%error%"' | trans ({'%field%' : errorField , '%error%' : erroMessage})) }}</p>
                                {% endfor %}

                            {% endif %}
                        </div>
                    {% endfor %}

                    <div id="map-canvas"></div>

                    <form action="{{ currentPath }}" method="POST" class="add10t">
                        <div class="row clearfix">
                            {{ form_row(form.title) }}
                        </div>

                        <div class="row clearfix">
                            {{ form_row(form.description) }}
                        </div>

                        <div class="row clearfix">
                            {{ form_row(form.latitude) }}
                        </div>

                        <div class="row clearfix">
                            {{ form_row(form.longitude) }}
                        </div>

                        <div class="button inverse at-center add20t">
                            {{ form_rest(form) }}

                            <input type="submit" value="{{ 'user.places.manage.form.label_submit'|trans }}" />
                        </div>
                    </form>
                </div>

                {% if places|length %}
                <div class="user-form add30t" id="content-table">
                    <legend class="add0b">{{ 'user.places.manage.list.title'|trans }}</legend>
                    <div class="small lighter">{{ 'user.places.manage.list.help'|trans }}</div>

                    <div class="added-content-wrapper">
                        <table class="added-content">
                            <thead>
                                <tr>
                                    <th>{{ 'user.places.manage.list.table.th.title'|trans }}</th>
                                    <th>{{ 'user.places.manage.list.table.th.news'|trans }}</th>
                                    <th>{{ 'user.places.manage.list.table.th.media'|trans }}</th>
                                    <th>{{ 'user.places.manage.list.table.th.videos'|trans }}</th>
                                    <th>{{ 'user.places.manage.list.table.th.events'|trans }}</th>
                                    <th width="0">&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for item in places %}
                                <tr>
                                    <td>
                                        <a href="{{ path('adrenalins_user_places_edit', { 'id' : item.id }) }}" class="hastip" title="{{ 'user.places.manage.title.edit'|trans }}">{{ item.title }}</a>
                                    </td>

                                    <td id="linked-news-{{ item.id }}">
                                        <div class="button wide">
                                            <a title="{{ 'user.data.manage.list.table.add_link_news'|trans({'%name%': item.title}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'place', 'objectId' : item.id, 'linkName' : 'news' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                        </div>
                                        {% for news in item.news %}
                                            <div class="linked-item">
                                                <a data-id="{{ item.id }}" data-name="place" data-link-name="news" data-link-id="{{ news.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                <a href="#" class="title">{{ news.name }}</a>
                                            </div>
                                        {% endfor %}
                                    </td>

                                    <td id="linked-gallery-{{ item.id }}">
                                        <div class="button wide">
                                            <a title="{{ 'user.data.manage.list.table.add_link_gallery'|trans({'%name%': item.title}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'place', 'objectId' : item.id, 'linkName' : 'gallery' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                        </div>
                                        {% for gallery in item.galleries %}
                                            <div class="linked-item">
                                                <a data-id="{{ item.id }}" data-name="place" data-link-name="gallery" data-link-id="{{ gallery.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                <a href="#" class="title">{{ gallery.name }}</a>
                                            </div>
                                        {% endfor %}
                                    </td>

                                    <td id="linked-video-{{ item.id }}">
                                        <div class="button wide">
                                            <a title="{{ 'user.data.manage.list.table.add_link_video'|trans({'%name%': item.title}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'place', 'objectId' : item.id, 'linkName' : 'video' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                        </div>
                                        {% for video in item.videos %}
                                            <div class="linked-item">
                                                <a data-id="{{ item.id }}" data-name="place" data-link-name="video" data-link-id="{{ video.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                <a href="#" class="title">{{ video.name }}</a>
                                            </div>
                                        {% endfor %}
                                    </td>

                                    <td id="linked-event-{{ item.id }}">
                                        <div class="button wide">
                                            <a title="{{ 'user.data.manage.list.table.add_link_event'|trans({'%name%': item.title}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'place', 'objectId' : item.id, 'linkName' : 'event' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                        </div>
                                        {% for event in item.events %}
                                            <div class="linked-item">
                                                <a data-id="{{ item.id }}" data-name="place" data-link-name="event" data-link-id="{{ event.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                <a href="#" class="title">{{ event.title }}</a>
                                            </div>
                                        {% endfor %}
                                    </td>

                                    <td>
                                        <a onclick="javascript:confirm('{{ 'user.places.manage.list.table.delete_confirm'|trans }}');" href="{{ path('adrenalins_user_places_delete', { 'id' : item.id }) }}" class="hastip" title="{{ 'user.places.manage.list.table.delete_item'|trans({'%name%': item.title}) }}">
                                            <svg class="svg-icon icon-cross2 animate" viewBox="0 0 16 16"><use xlink:href="#icon-cross2"></use></svg>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '../app/Resources/public/js/libs/chosen_v1.1.0/chosen.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '../app/Resources/public/js/libs/chosen_v1.1.0/chosen.jquery.min.js'
    '../app/Resources/public/js/libs/jquery.magnific-popup.min.js'
    '../app/Resources/public/js/pages/user_content.js'
    'https://maps.googleapis.com/maps/api/js?key=AIzaSyC8wSJSGkjnodOgN6xsf9y95ljtj6K6da8&sensor=true'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function() {
            $(".chosen-select").chosen({
                max_selected_options: 50,
                no_results_text: '{{ 'user.places.manage.form.label_chosen_no_results_text'|trans }}'
            });
        });

        function initialize() {
            var centerCoordinates = new google.maps.LatLng('{{ latitude }}', {{ longitude }});
            var mapOptions = {
                center: centerCoordinates,
                mapTypeControlOptions: {
                    mapTypeIds: [google.maps.MapTypeId.TERRAIN, google.maps.MapTypeId.HYBRID]
                },
                mapTypeId: google.maps.MapTypeId.TERRAIN,
                zoom: 7,
                panControl: false,
                streetViewControl: false,
                zoomControl: true,
                zoomControlOptions: {
                    style: google.maps.ZoomControlStyle.LARGE
                }
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"), mapOptions);

            var marker = new google.maps.Marker({
                position: centerCoordinates,
                map: map,
                draggable: true
            });

            google.maps.event.addListener(
                    marker,
                    'drag',
                    function() {
                        document.getElementById('place_latitude').value = marker.position.lat();
                        document.getElementById('place_longitude').value = marker.position.lng();
                    }
            );
        }
        google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock javascripts %}
