/* 1. LAYOUT  */
/* 2. COMMON  */
/* 5. HELPERS */
/* 6. PHOTOGALLERY */
/* 7. USER MENU */
/* 8. PILOT LOGIN */
/* 9. GOOGLE MAPS */


/* 1. LAYOUT **************************************************************** */
header, footer, .content-area, .bottom-line {
    @include outer-container;
    @include media($m1280) {
        padding-left:40px;
        padding-right:40px;
    }
}
.content-area.media {
    @include media($m1280) {
        padding-left:0;
        padding-right:0;
    }    
}
.left-wide-column {
    @include span-columns(7);
    @include shift(1);
    padding-right:40px;
    @include media($m1280) {
        @include span-columns(8);
        @include shift(0);
    }
    @include media($m1000) {
        @include span-columns(12);
        @include shift(0);
        padding-right:0px;
    }
}
.left-narrow-column {
    @include span-columns(3);
    @include shift(1);

    @include media($m1280) {
        @include span-columns(4);
        @include shift(0);
    }
    @include media($m900) {
        @include span-columns(12);
    }

}
.right-wide-column {
    @include span-columns(7);
    @include omega;
    padding-left:40px;

    @include media($m1280) {
        @include span-columns(8);
    }
    @include media($m900) {
        @include span-columns(12);
        padding-left:0px;
    }
    &.tabs-container {
        @include span-columns(9);
        @include shift(3);
        padding-left: 0px;
        @include media($m1000) {
            @include span-columns(12);
            @include shift(0);
        }
    }
}
.right-narrow-column {
    @include span-columns(3);
    @include omega;

    @include media($m1280) {
        @include span-columns(4);
    }

    @include media($m1000) {
        @include span-columns(12);
    }
}
.only-column {
    @include span-columns(10);
    @include shift(1);
}
header {
    position:relative;
    z-index:1;
    padding-top:10px;
    padding-bottom:15px;

    @include media($m900) {
        height:auto;
    }
    .left-narrow-column {
        @include span-columns(3);
        @include shift(0);

        @include media($m900) {
            @include span-columns(12);
        }
    }
    .right-wide-column {
        @include span-columns(9);
        padding-left:0px;
        @include media($m1280) {
        }
        @include media($m900) {
            @include span-columns(12);
        }
    }
}



/* 2. COMMON **************************************************************** */
::-moz-selection { color: rgba(0,0,0,.8);  background: $primary-color; }
::selection { color: rgba(0,0,0,.8);  background: $primary-color; }

.animate {
    @include transition(all .3s ease-in-out);
}
.flip-vertical {
    -moz-transform: scaleY(-1);
    -webkit-transform: scaleY(-1);
    -o-transform: scaleY(-1);
    transform: scaleY(-1);
    -ms-filter: flipv; /*IE*/
    filter: flipv; /*IE*/
}

.has-background {
    background: #fff;
}
.slide-container {
    position:absolute;
    overflow:hidden;
    z-index:0;
    width: 100%;
    height:669px;
    top:0;
    left:0;
    background-color: #284874;
    background-position: 50% 0%;
    background-repeat: no-repeat;
    .solid-color {
        opacity: 0;
        position:absolute;
        background:#284874;
        z-index:1;
        width: 100%;
        height:100%;
        top:0;
        left:0;
        @include animation-name(dropHeader);
        @include animation-iteration-count(once);
        @include animation-timing-function(ease-out);
        @include animation-duration(1s);
    }
    .gradient {
        position:absolute;
        z-index:2;
        width: 100%;
        height:100%;
        top:0;
        left:0;
        background: -moz-linear-gradient(top,  rgba($body-color,0) 50%, rgba($body-color,1) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(50%,rgba($body-color,0)), color-stop(100%,rgba($body-color,1)));
        background: -webkit-linear-gradient(top,  rgba($body-color,0) 50%,rgba($body-color,1) 100%);
        background: -o-linear-gradient(top,  rgba($body-color,0) 50%,rgba($body-color,1) 100%);
        background: -ms-linear-gradient(top,  rgba($body-color,0) 50%,rgba($body-color,1) 100%);
        background: linear-gradient(to bottom,  rgba($body-color,0) 50%,rgba($body-color,1) 100%);
    }
}
@include keyframes(dropHeader) {
    from {
        opacity: .66;
    }
    to {
        opacity: 0;
    }
}
.lang-menu {
    li {
        display:inline-block;
        a {
            color:#fff;
            font-size: 11px;
            line-height: 1em;
            display:inline-block;
            margin:0 10px 0 0;
            padding:5px 3px;
            border-top:2px solid transparentize($white, 1);
            border-bottom:2px solid transparentize($white, 1);
            @include transition(all .2s ease-in-out);
            &.current {
                color: transparentize($white, 0.5);
                border-top:2px solid transparentize($white, 0.5);
                &:hover {
                    border-bottom:2px solid transparentize($white, 1);
                    border-top:2px solid $white;
                }
            }
            &:hover {
                border-bottom:2px solid $white;
            }
        }
    }
}
.main-menu {
    background:#fff;
    backface-visibility: hidden;
    ul {
        height:62px;
        @include display(flex);
        -webkit-box-direction: normal;
        -moz-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -moz-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-align-content: space-around;
        -ms-flex-line-pack: distribute;
        align-content: space-around;
        li {
            background: $white;
            -webkit-box-ordinal-group: 1;
            -moz-box-ordinal-group: 1;
            -webkit-box-flex: 1;
            -moz-box-flex: 1;
            -webkit-flex: 1 1 auto;
            -ms-flex: 1 1 auto;
            flex: 1 1 auto;
            a {
                font-size:0.8125em;
                text-transform: uppercase;
                display:block;
                text-align: center;
                height:62px;
                line-height:62px;
                color:#222;
                border-bottom:0px solid $body-link-color;
                @include transition (all .2s ease-out);
                &:hover {
                    color:$body-link-color;
                    background: $body-color;
                    border-bottom:2px solid $body-link-color;
                }
            }
            &.current {
                background: $primary-color;
                a:hover {
                    background:lighten($primary-color, 3%);
                    border-bottom:2px solid darken($primary-color, 30%);
                    color:$body-font-color;
                }
            }
            &.home {
                display:none;
            }
        }

        @include media($m700){
            display:none;
        }    
    }
    select {
        display:none;
        height:62px;
        background:#fff;
        backface-visibility: hidden;

        @include media($m700){
            display:block;
        }
    }
}
.logo {
    height:72px;
    margin:10px 30px 0 30px;
    position:relative;
    text-align: center;
    @include transition(transform .3s ease-in-out);
    a {
        display:inline-block;
        height:72px;
        img {
            width:auto;
            height:100%;
        }
    }
    &:hover {
        @include transform(scale(1.05));
    }
}
.search-block, .user-block {
    @include span-columns(4 of 9);
    font-size:0.8125em !important;
}
.user-block {
    text-align: right;
    @include span-columns(5 of 9);
    @include omega;
    div > a {
        border-bottom:1px solid rgba(255,255,255,0.2);
        color:#fff;
        @include transition(border-bottom 0.2s ease-in-out);
        &:hover {
            border-bottom:1px solid rgba(255,255,255,0.8);
        }
    }
    div {
        display:inline-block;
        margin-left:20px;
    }
    svg { fill: #fff; }
    .miniforum {
        @include media($m800) {
            display:block;
        }   
    }
    @include media($m800) {
        position:relative;
        top:-25px;
    }   

}
.about-adrenalins {
    color:#fff;
    font-size:1em;
    display:inline-block;
    @include media($m800) {
        display:none;
    }
}
.content-area {
    z-index: 1;
    position:relative;
    section {
        margin:10px 0;
        padding:20px 0px;
    }
}

.section-heading {
    font-weight: $font-weight-bold;
    font-size: .875em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $body-font-color;
    padding: 3px 0;
    border-bottom: 1px solid transparentize($body-link-color, 1);
    @include transition(all .2s ease-in-out);
    &.special {
        display: block;
        background: $primary-color;
        padding:5px 30px;
        .badge {
            background-color: black;
            background-color: rgba(black, .8);
            color:$primary-color;
            margin-left: 5px;
        }
    }
  &.inverse {
    display: block;
    padding:5px 30px;
    background: rgba($black, .9);
    color: $white;
  }
}
a.section-heading:hover {
    color: $body-link-color;
    border-bottom: 1px solid transparentize($body-link-color, 0.75);
}
a.section-heading.special {
    &:before {
        content:url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iNCA0IDE2IDE2IiBlbmFibGUtYmFja2dyb3VuZD0ibmV3IDQgNCAxNiAxNiI+PHBhdGggZD0iTTkuMTg4IDE3LjY5MXYxLjY2YzAgLjE2NS4wNjMuMzMxLjE5LjQ1OS4xMjYuMTI3LjI5Mi4xOS40NTguMTkuMTY2IDAgLjMzMi0uMDYzLjQ1OS0uMTg5bDQuMDgtNC4wMjYtNC4wOC00LjAyNGMtLjEyNi0uMTI2LS4yOTMtLjE5LS40NTktLjE5LS4xNjYgMC0uMzMyLjA2NC0uNDU4LjE5cy0uMTkuMjkzLS4xOS40NTh2MS42MTVjLTEuNzg0LS4wNDYtMy43MzItLjM2OC01LjE4OC0yLjU4OXYuNjQ4YzAgMy4wMDQgMi4yNyA1LjQ3NSA1LjE4OCA1Ljc5OHoiLz48L3N2Zz4=');
        display:inline-block;
        margin-left: -16px;
        opacity: 0;
        @include transition(all .3s ease-in-out .2s);
    }
    &:hover {
        color:black;
        padding-left:40px;
        &:before {
            opacity:1;
        }
    }
}

.svg-icon {
    display:inline-block;
    fill: #000;
    width:1em;
    height:1em;
    vertical-align: -6%;
    @include transition(all .3s ease-in-out);
}
.badge {
    display:inline-block;
    padding:0px 10px;
    border-radius:10px;
    line-height:20px;
    font-size:em(14);
    @include transition(all .3s ease-in-out);
    &.simple {
        background-color: $body-color;
        color: $body-font-color;
    }
}
li:hover .badge.simple {
    background-color: $body-link-color;
    color: $white;    
}
.avatar {
    display:inline-block;
    @include transition(all .3s ease-in-out);
    img {
        width:100%;
        height:auto;
        border-radius:50%;
        display: block;
    }
}
.my.avatar {
    img {border:3px solid $primary-color;}
}


/* 5 HELPERS **************************************************************** */
.clearfix {
    @include clearfix;
}
.hidden {display:none;}
#svg-placeholder {
    clip: rect(0 0 0 0);
    overflow: hidden;
    position: absolute;
    width: 1px;
    height: 1px;
    margin-top: -1px;
}

.add5t {margin-top:5px !important;}
.add5b {margin-bottom:5px !important;}
.add5v {margin-top:5px !important; margin-bottom:5px !important;}
.add5l {margin-left:5px !important;}
.add5r {margin-right:5px !important;}
.add5h {margin-left:5px !important; margin-right:5px !important;}

.add10t {margin-top:10px !important;}
.add10b {margin-bottom:10px !important;}
.add10v {margin-top:10px !important; margin-bottom:10px !important;}
.add10l {margin-left:10px !important;}
.add10r {margin-right:10px !important;}
.add10h {margin-left:10px !important; margin-right:10px !important;}

.add20t {margin-top:20px !important;}
.add20b {margin-bottom:20px !important;}
.add20v {margin-top:20px !important; margin-bottom:20px !important;}
.add20l {margin-left:20px !important;}
.add20r {margin-right:20px !important;}
.add20h {margin-left:20px !important; margin-right:20px !important;}

.add30t {margin-top:30px !important;}
.add30b {margin-bottom:30px !important;}
.add30v {margin-top:30px !important; margin-bottom:30px !important;}
.add30l {margin-left:30px !important;}
.add30r {margin-right:30px !important;}
.add30h {margin-left:30px !important; margin-right:30px !important;}

.add40t {margin-top:40px !important;}
.add40b {margin-bottom:40px !important;}
.add40v {margin-top:40px !important; margin-bottom:40px !important;}
.add40l {margin-left:40px !important;}
.add40r {margin-right:40px !important;}
.add40h {margin-left:40px !important; margin-right:40px !important;}

.add10inside {padding:10px !important;}
.add20inside {padding:20px !important;}
.add30inside {padding:30px !important;}
.add40inside {padding:40px !important;}
.add0t {margin-top:0px !important; padding-top: 0px !important;}
.add0b {margin-bottom:0px !important; padding-bottom: 0px !important;}

.float-left { float: left;}
.float-right { float: right;}
.float-none { float: none !important;}
.inline-block {display: inline-block;}

.one-half {width:50% !important;}
.one-third {width:33.33% !important;}
.two-thirds {width:66.66% !important;}
.one-quarter {width:25% !important;}

.align-right {text-align: right;}
.center {text-align:center;}

.size-140 {
    width:140px;
    height:140px;
}
.size-80 {
    width:80px;
    height:80px;
}

.zero-size {
    width: 0;
    height: 0;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

hr {height:1px; background:rgba($line-color,.66); border:0; margin:10px 0px; padding:0}
li[onclick] {cursor:pointer}

table {width:100%; margin: 10px 0 30px 0; border-collapse: separate;}
tbody,thead, .wide {width:100%;}
td {
    padding:7px 15px;
    border-bottom:1px solid lighten($line-color, 5%);
    font-size:em(15);
}
th {
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    border-bottom:2px solid $body-link-color;
    padding:10px 15px;
    letter-spacing: 1px;
    font-size:em(13);
    background:lighten($line-color, 10%);
}
th[colspan] {
    text-align: left;
}
tr:nth-child(2n) {
    background:lighten($line-color, 10%);
}


/* 6. PHOTOGALLERY  ******************************************************* */
.photogallery-list {
    background: darken($body-color, 5%);
    @include clearfix;
    li {
        float:left;
        width:12.5%;
        background:#000;
        @include media($m900) {
            width:25%;
        }
        a {
            display:block;
            height:90px;
            position:relative;
            overflow:hidden;
            img {
                position:relative;
                opacity:0.5;
                @include transition(all .3s ease-in-out);
            }
        }
        a:hover img {
            opacity:1;
            @include transform(scale(1.1));
        }
    }
}

.right-wide-column .photogallery-list {
    li {
        width:25%;
    }
}

.photogallery-list li.cover {
    width:50%;
    a {
        height:270px;
    }
}

.waterfall-item {
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(black, .4);
    overflow:hidden;
    position:relative;
    text-align: center;
    width: 385px;
    img {
        display:block;
        width:100%;
        height:auto;
        @include transition(all .3s ease-in-out);
    }
    p {
        position: absolute;
        width:100%;
        bottom:-20px;
        left:0;
        color: white;
        @include linear-gradient(rgba(black, 0), rgba(black, .5));
        font-family: $font-family-serif;
        text-shadow: 0 1px 3px rgba(black, .5);
        font-size: 1.3em;
        line-height: 1.3em;
        margin:0;
        padding:10px 40px;
        @include transition(all .3s ease-in-out);
    }
    span {
        display:block;
        font-size: .6em;
        font-family: $font-family;
        color:rgba(white, .8);
        position:relative;
        top:50px;
        @include transition(all .3s ease-in-out .2s);
    }
    &:hover {
        p {padding:15px 40px 30px 40px;}
        span { top:0; }
        img { @include transform(scale(1.1)); }
    }
    &.aerophoto {
        width: 400px;
        padding-bottom:0;
        box-shadow: none;
    }
    &.video {
        width: 570px;
        background: #000;
        box-shadow: none;
        height: 300px;
        img {
            position:absolute;
            top: 50%;
            z-index: 1;
            @include transform(translateY(-50%));
        }
        .svg-icon {
            position: absolute;
            top:50%;
            left:50%;
            width: 40px;
            height: 40px;
            margin: -20px 0 0 -20px;
            z-index: 3;
            fill:$body-link-color;
            opacity: 0;
        }
        &:hover {
            img {
                width:106%;
                margin-left: -3%;
                opacity: .8;
            }
            .video-title {
                @include transform(translateX(0px));
            }
            .svg-icon {
                opacity: 1;
                width: 100px;
                height: 100px;
                margin: -50px 0 0 -50px;
            }
        }
    }
    &.gallery {
        width: 570px;
    }
}
.video-title {
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
    @include linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.6));
    color:white;
    padding: 15px 40px 35px 40px;
    @include transform(translateY(10px));
    font-family:$font-family-serif;
    font-size:1.4em;
    text-shadow: 0px 1px 4px rgba(0,0,0,.66);
    z-index: 2;
}

/* 7. USER MENU */
.user-menu {
    display:none;
    background:$white;
    text-align: left;
    float:left;
    font-size:1.2em;
    margin:5px 0px;
    li {
        border-bottom:1px solid $line-color;
        @include transition(all .3s ease-in-out);
        a {
            display:block;
            padding:8px 20px 8px 8px;
            color:$black;
            @include transition(all .3s ease-in-out);
        }
        .svg-icon {
            margin-right:5px;
        }
    }
    li:hover {
        background:$body-color;
        a {
            color:$body-link-color;
        }
    }
    li:last-child {
        border-bottom:none;
    }
}
.qtip-content {
    box-shadow: 0px 0px 10px rgba(black, .25);
}

/* 8. PILOT LOGIN */

@-webkit-keyframes shake {
    8%, 41% {-webkit-transform: translateX(-10px);}
    25%, 58% {-webkit-transform: translateX(10px);}
    75% {-webkit-transform: translateX(-5px);}
    92% {-webkit-transform: translateX(5px);}
    0%, 100% {-webkit-transform: translateX(0);}
}
@keyframes shake {
    8%, 41% {transform: translateX(-10px);}
    25%, 58% {transform: translateX(10px);}
    75% {transform: translateX(-5px);}
    92% {transform: translateX(5px);}
    0%, 100% {transform: translateX(0);}
}

.pilot-login {
    display:none;
    background:$white;
    text-align: left;
    float:left;
    font-size:1.2em;
    padding:20px;
    .qtip-tip {display: none !important;}
    input[type="text"], input[type="password"] {
        background:$body-color;
        border-bottom:1px solid $line-color;
    }
    &.error {
        @include animation(shake .5s ease-in-out);
    }
}

/* 8. TANDEM SHOP */
.tandem-shop {
  background: $primary-color;
  .button {
    transform: scale(1.2);
    input {
      border-color: rgba(black, .33);
    }
  }
  .one-half.float-left {
      @media screen and (max-width: 650px) {
        width: 100% !important;
        float: none;
      }
  }
}
.tandem-customer-discount-link {
  a {
    color: #000000;
    display: inline-block;
    vertical-align: middle;
    span {
      border-bottom: 1px solid rgba(black, .33);
    }
    &:hover {
      span {
        border-bottom-color: rgba(black, 0);
      }
    }
  }
  svg {
    float: right;
    width: 34px;
    height: 28px;
    vertical-align: middle;
    margin: 0 0 10px 10px;
  }
}
.tandem-customer-price {
  margin: 0 20px;
  position: relative;
  background: url(/img/bg-price.png) 50% 50% no-repeat;
  background-size: contain;
  h2 {
    color: rgba(black, .9);
    font-size: 4em;
    position: relative;
    top: 0;
    left: 0;
    text-align: center;
    z-index: 2;
    margin: 0;
    &.outline {
      width: 100%;
      position: absolute;
      z-index: 1;
      color: $primary-color;
      text-shadow: 1px 1px 0px rgba(black, .5);
      top: 3px;
      left: 2px;
    }
  }
    @media screen and (max-width: 650px) {
        background: none;
    }
}
.inline-input {
  display: table;
  width: 100%;
  .td {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    padding-bottom: 10px;
    &:last-child {
      width: 0;
    }
  }
  select {
    width: 75px;
    margin-left: 10px;
  }
  label {
    display: inline;
    width: auto;
    font-size: 1em;
  }
}
