.datepicker.dropdown-menu {
position:absolute;
top:100%;
left:0;
z-index:1000;
float:left;
display:none;
min-width:160px;
list-style:none;
background-color:#fff;
border-radius:5px;
box-shadow:0 2px 6px rgba(0,0,0,.2);
-webkit-background-clip:padding-box;
-moz-background-clip:padding;
background-clip:padding-box;
border-right-width:2px;
border-bottom-width:2px;
color:#333;
font-size:13px;
line-height:18px;
}

.datepicker.dropdown-menu th,.datepicker.dropdown-menu td {
padding:4px 5px;
}

.datepicker {
display:none;
position:absolute;
margin-top:1px;
direction:ltr;
padding:4px;
}

.datepicker-inline {
width:220px;
}

.datepicker-rtl table tr td span {
float:right;
}

.datepicker-dropdown {
top:0;
left:0;
}

.datepicker-dropdown:before {
content:'';
display:inline-block;
border-left:7px solid transparent;
border-right:7px solid transparent;
border-bottom:7px solid #ccc;
border-bottom-color:rgba(0,0,0,.2);
position:absolute;
top:-7px;
left:6px;
}

.datepicker-dropdown:after {
content:'';
display:inline-block;
border-left:6px solid transparent;
border-right:6px solid transparent;
border-bottom:6px solid #fff;
position:absolute;
top:-6px;
left:7px;
}

.datepicker table {
border:0;
margin:0;
}

.datepicker td,.datepicker th {
text-align:center;
width:20px;
height:20px;
border:0;
font-size:12px;
background:#fff;
cursor:pointer;
padding:4px 8px;
}

.table-striped .datepicker table tr td,.table-striped .datepicker table tr th {
background-color:transparent;
}

.datepicker table tr td span {
display:block;
width:23%;
height:54px;
line-height:54px;
float:left;
cursor:pointer;
margin:1%;
}

.datepicker th.date-switch {
width:145px;
}

.datepicker thead tr:first-child th,.datepicker tfoot tr:first-child th {
cursor:pointer;
}

.datepicker .cw {
font-size:10px;
width:12px;
vertical-align:middle;
padding:0 2px 0 5px;
}

.datepicker thead tr:first-child th.cw {
cursor:default;
background-color:transparent;
}

.datepicker-close {
position:absolute;
top:-30px;
right:0;
width:15px;
height:30px;
display:none;
padding:0;
}

.datepicker td.old,.datepicker td.new {
color:#999;
}

.datepicker td.day.disabled {
color:#eee;
}

.datepicker>div,.datepicker-dropdown::before,.datepicker-dropdown::after {
display:none;
}

.datepicker.days div.datepicker-days,.datepicker.months div.datepicker-months,.datepicker.years div.datepicker-years {
display:block;
}

.datepicker td.active.day,.datepicker th.active.day,.datepicker td.active.year,.datepicker th.active.year,.datepicker td span.active,.datepicker th span.active {
background:$primary-color;
}