footer {
    position:relative;
    background: rgba(0,0,0,.66);
    padding:15px 30px;
    margin-top: 30px;
    color:#fff;
    z-index:11;
    a, .search-link, .copyright {
        display:inline-block;
        font-size:.8125em;
        float:left;
        line-height: 1.5em;
        color:rgba(white,.7);
        @include transition(all 0.3s ease-in-out);
    }
    .svg-icon {
        fill:rgba(white,.7);
        margin:0 10px;
    }
    a:hover {
        color:white;
        .svg-icon {
            fill:white;
        }
    }
    .copyright {
        float:right;
        img {
            max-width: 100%;
            height: auto;
        }
        @include media($m700) {
            float:left;
            clear: both;
            margin:5px 0 0 10px;
        }
    }
}
.white-link {
    margin:0px 10px;
    border-bottom:1px solid rgba(white,0.2);    
    &:hover {
        border-bottom:1px solid rgba(white,0.8);
    }
}

.bottom-line {
    padding-top:10px;
    padding-bottom:20px;
    &:hover {
        .made-by-kalichava {
            right:0;
            svg {
                opacity: 1;
                @include transform(scale(1));
            }
        }
    }
}
.bottom-line
.online {
    float:left;
    a, span {
        font-size: em(13);
    }
    .badge {
        background:rgba(white, .7);
        margin:0px 5px;
    }
}
.made-by-kalichava {
    position:relative;
    color:rgba($black,.66);
    float:right;
    right:-22px;
    font-size: em(13);
    @include transition(all .3s ease-in-out .3s);
    svg {
        display: inline-block;
        width:16px;
        height:16px;
        margin-left:6px;
        position: relative;
        top:3px;
        opacity:0;
        fill:$body-font-color;
        @include transform(scale(.25));
        @include transition(all .3s ease-in-out .2s);
    }
    &:hover {
        color:$body-link-color;
        svg {
            fill:$body-link-color;
        }
    }
    @include media($m700) {
        float:left;
        clear:both;
        right:0;
        top:-5px;
    }

}

