/* FORM */
.user-form {
  background: $body-color;
  padding: 30px;
  fieldset {
    margin-bottom: 30px;
    padding: 20px 30px 10px 30px;
    box-shadow: 0px 1px 7px rgba(0, 0, 0, .1);
  }
  legend {
    font-family: $font-family-serif;
    background: $body-color;
    line-height: 1.3em;
    font-size: 1.2em;
    margin-bottom: 10px;
    padding: 0px 20px;
    position: relative;
    left: -20px;
  }
  .row {
    margin-bottom: 10px;
    position: relative;
  }
  .avatar-container {
    padding-right: 200px;
    position: relative;
  }
  .pilot-picture {
    position: absolute;
    top: -20px;
    right: 0px;
  }
  .input-addition {
    line-height: em(38);
  }
  .input-date {
    width: 170px;
    margin-right: 20px;
    display: inline-block;
  }
  .input-time {
    width: 65px;
    display: inline-block;
  }
}

input.year, .select-year {
  width: 90px !important;
}

input[type="text"],
input[type="password"],
input[type="select"],
input[type="file"],
input[type="email"],
input[type="tel"],
input[type="search"],
select,
textarea {
  width: 100%;
  display: block;
  border: none;
  margin-bottom: 10px;
  padding: 7px 10px;
  font-family: $font-family-stack;
  font-size: 1em;
  line-height: 1.2em;
  background: #fff;
}

textarea {
  resize: vertical;
}

input[type="submit"],
input[type="button"],
input[type="reset"] {
  font-family: $font-family-stack;
  font-size: em(14);
}

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
}

input, textarea {
  color: #666;
  &:focus {
    color: #222;
  }
}

label {
  width: 100%;
  display: block;
  font-size: em(14);
  line-height: 1em;
  margin-bottom: 5px;
}

.button {
  display: inline-block;
  margin: 0 auto;
  a, input, button {
    font-size: 0.6875em;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: $body-font-color;
    display: inline-block;
    margin: 0 auto;
    padding: 9px 20px;
    line-height: 1.3em;
    background: $body-color;
    border: 1px solid rgba(0, 0, 0, 0.1);
    overflow: hidden;
    @include transition(all .3s ease-in-out);
    .svg-icon {
      position: relative;
      top: 0;
      left: 0;
    }
    .svg-icon.left {
      margin-right: 5px;
    }
    .svg-icon.right {
      margin-left: 5px;
    }
    &:hover {
      cursor: pointer;
      border-color: rgba(0, 0, 0, 0.3);
      background: #fff;
      color: $body-link-color;
      .svg-icon {
        fill: $body-link-color;
        @include animation(jump 0.3s ease-in-out);
      }
    }
  }

  @include keyframes(jump) {
    0% {
      top: 0;
    }
    50% {
      top: 30px;
    }
    51% {
      top: -30px;
    }
    100% {
      top: 0;
    }
  }

  &.at-center {
    width: auto;
    margin: 0 auto;
  }
  &.wide {
    width: 100%;
    display: block;
    text-align: center;
    a, input {
      width: 100%;
    }
  }
}

.button.back {
  position: relative;
  top: 7px;
  a {
    border: none;
    .svg-icon {
      margin: 0 5px 0 0;
      width: 14px;
      height: 14px;
    }
    &:hover {
      .svg-icon {
        margin: 0 10px 0 -5px;
      }
    }
  }
}

.button.inverse {
  a, input, button {
    color: $white;
    background: $secondary-color;
    border: 1px solid darken($secondary-color, 10%);
    .svg-icon {
      fill: #fff;
    }
    &:hover {
      border: 1px solid rgba($secondary-color, .33);
      background: #fff;
      color: $secondary-color;
      .svg-icon {
        fill: $secondary-color;
      }
    }
  }
}

/* TABS */
.tabs {
  li {
    border-left: 1px solid rgba(0, 0, 0, .2);
    display: inline-block;
    margin-left: -1px;
    padding: 0 !important;
  }
  .button a {
    border: none;
    background: $body-color;
    &:hover {
      background: lighten($body-color, 3%);
    }
  }
  li.current {
    .button a {
      background: $primary-color;
      color: rgba(black, .8);
      &:hover {
        background: darken($primary-color, 3%);
      }
    }
  }
  &.vertical {
    li, .button, a {
      display: block;
      height: auto;
    }
    li {
      border-left: none;
      margin-left: 0;
    }
  }
}

.tabs.outlines, .tabs.dark {
  li {
    border: none;
  }
  .button a {
    background: rgba(0, 0, 0, .1);
    color: rgba(#fff, .5);
    text-decoration-color: rgba(white, .33);
  }
  li.current {
    border: none;
    .button a {
      background: rgba(0, 0, 0, .2);
      color: $primary-color;
    }
    .button a:hover {
      background: rgba(0, 0, 0, .1);
      text-decoration: line-through;
    }
  }
  .button a:hover {
    background: rgba(0, 0, 0, .2);
    color: $white;
  }
}

.tabs.float-right {
  @include media($m800) {
    float: left;
    clear: left;
    margin-top: 10px;
  }
}

.tabs.dark {
  .button a {
    background: rgba(0, 0, 0, .4);
    color: rgba(#fff, .7);
  }
}

.mce-content-body {
  padding: 20px;
}

/* a. TOP SEARCH ********************************************* */
.search-link {
  color: #fff;
  margin-left: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  @include transition(border-bottom 0.2s ease-in-out);
  &:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
  .front {
    display: inline;
  }
  .back {
    display: none;
  }
  svg {
    fill: #fff;
    margin-right: 3px;
  }
  &.flip {
    .front {
      display: none;
    }
    .back {
      display: inline;
    }
  }
  @include media($m800) {
    margin-left: 0px;
  }
}

.search-form {
  background: #fff;
  height: 62px;
  position: relative;
  padding: 10px 100px 0 20px;

  .search-keyword {
    outline: none;
    border-bottom: 2px solid $black;
  }
  .button {
    position: absolute;
    top: 12px;
    right: 20px;
    input {
      padding: 0 10px;
    }
    background: $body-color url(../img/enter.png) 50% 50% no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 63px;
    height: 40px;
    cursor: pointer;
  }
}

.panel {
  position: relative;
  margin-top: 10px;
  height: 62px;
  .front {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: 100%;

    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
  .back {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: 100%;

    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-180deg);
    transform: rotateX(-180deg);

    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
  }
}

.panel.flip {
  .front {
    z-index: 900;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg);

  }
  .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg);
    -moz-transform: rotateX(0deg);
    transform: rotateX(0deg);
  }
}

/*
.datepicker, .timepicker {
    width:200px;
    float:left;
    margin-right:10px;
    padding:3px 10px;
    font: normal 1em $font-family;
}
.timepicker {
    width:150px;
    margin-right:0px;
}
*/
.msg-success, .msg-error {
  background: lighten($success-color, 50%);
  border: 1px solid $success-color;
  color: darken($success-color, 30%);
  margin-bottom: 2em;
  padding: 2em;
  text-align: center;
}

.msg-error {
  background: lighten($danger-color, 40%);
  border: 1px solid $danger-color;
  color: darken($danger-color, 30%);
}

.file-item {
  position: relative;
  margin: 0 0 20px 0;
  .button {
    position: absolute;
    top: 0;
    left: 0;
  }
}

.progress {
  background: #fff;
  border: 1px solid rgba(black, .1);
  height: 5px;
  .progress-bar {
    height: 100%;
    background: $primary-color;
  }
}