.news-list {
    border-top:1px solid $line-color;
    margin:10px 0 20px 0;
    li {
        padding:7px 12px;
        border-bottom:1px solid $line-color;
        @include transition(all .2s ease-in-out);
        a {
            font-family: $font-family-serif;
            font-weight: $font-weight-regular;
            font-size: em(15);
            color:$body-font-color;
            &:hover {
                color:$body-link-color;
            }
            @include transition(color .3s ease-in-out);
        }
        .news-title {
            line-height: 1.3em;
        }
        .photogallery, .video {
            float:left;
            padding:0 10px 0 0;
            font-family:$font-family;
            font-size:em(14);
            svg {
                fill:rgba(0,0,0,.1);
            }
        }
        .comments {
            float:right;
            margin-top:2px;
            font-family:$font-family, sans-serif;
            font-size:em(14);
            svg {
                fill:rgba(0,0,0,.8);
                margin-right:3px;
            }
        }
        .has {
            svg {
                fill:rgba(0,0,0,.8);
            }
        }
        .has.comments {
            color:#fff;
            background:rgba(0,0,0,.8);
            @include transition(all .3s ease-in-out);
            svg {
                fill:#fff;
            }
        }
    }
    li.not-read {
        background: $primary-color;
        border-color: darken($primary-color, 10%);
    }
    li:hover {
        border-bottom:1px solid darken($line-color, 6%);
        background: $body-color;
        a, .photogallery, .video {color:$body-link-color;}
        .has, .comments {
            svg {
                fill:$body-link-color;
            }
        }
        .has.comments {
            background:$body-link-color;
            svg {
                fill:$white;
            }
        }
    }
}
.news-list.blocks {
    border-top-width:0px;
    li {
        float:left;
        height:285px;
        width:32%;
        margin:0px 2% 20px 0px;        
        background: #fff;
        border:1px solid $body-color;
        padding:5px;
        text-align:center;
        overflow: hidden;
        @include transition (all .2s ease-out);
        .news-thumbnail {
            width:100%;
            height:140px;
            background:#000;
            display:block;
            overflow:hidden;
            img {
                height:140px; width: auto;
                @include transition(all .3s ease-in-out);
            }
        }
        .news-title {
            display: block;
            margin:10px 0 0 0;
            height: 90px;
            overflow: hidden;
        }
        .clearfix {
            padding: 5px 5px 0px 10px;
            border-top:1px solid rgba(0,0,0,.1);
        }
        .photogallery, .video {
        }
        @include media($m600) {
            width:48%;
        }
        @include media($m500) {
            width:100%;
        }
    }
    li:nth-child(3n) {
        margin-right:0%;
        @include media($m600) {
            margin-right:2%;
        }
        @include media($m500) {
            margin-right:0%;
        }
    }
    li:nth-child(2n) {
        @include media($m600) {
            margin-right:2%;
        }
        @include media($m600) {
            margin-right:0%;
        }
    }
    li.not-read {
        background: $primary-color;
        border-color: $primary-color;
    }
    li:hover {
        background: $body-color;
        border-color: darken($body-color, 4%);
        .news-thumbnail img {
            @include transform(scale(1.1));
        }
    }
}
.news-list.rows {
    border-top:none;
    margin-top:23px;
    li {
        height:200px;
        padding:0px;
        margin-bottom:30px;
        background: #fff;
        border-bottom:none;
        z-index:2;
        position:relative;
        @include media($m600) {
            height:auto;
        }
        @include outer-container;
        .news-thumbnail {
            background:#000;
            overflow:hidden;
            height:200px;
            display:block;
            overflow:hidden;
            @include span-columns(3);
            @include media($m600) {
                display:none;
            }
            img {
                display:block;
                opacity: 0.7;
                @include transition(all .3s ease-in-out);
            }
        }
        .news-data {
            padding:15px 30px 0px 30px;
            height:155px;
            overflow: hidden;
            @include span-columns(9);
            @include omega;
            @include media($m600) {
                height: auto;
                overflow: visible;
                margin-bottom: 50px;
                @include span-columns(12);
            }
        }
        .news-title {
            font-size:1.618em;
            line-height: 1em;
        }
        .news-intro {
            margin-top:10px;
            opacity: .8;
            @include transition(opacity .3s ease-in-out);
        }
        .news-attributes {
            position:absolute;
            width:75%;
            left:25%;
            bottom:0;
            padding:0px 30px 10px 20px;
            @include media($m600) {
                width:100%;
                left:0%;
            }
        }
        .news-post-date {
            float:right;
            font-size: em(14);
            color:#a9a9a9;
        }
        .comments, .photogallery, .video {
            float:left;
            margin-right:20px;
        }
        .svg-icon { margin-right: 3px; }
    }
    li:hover {
        box-shadow: 0px 1px 15px 0px rgba(0,0,0,0.2);
        .news-thumbnail img {
            @include transform(scale(1.1));
            opacity: 1;
        }
        .news-intro {
            opacity: 1;
        }
    }
}
