.slide-container {
    opacity:0;
    z-index: 0;
    background: 50% 0% no-repeat;
    background-size: cover;
    @include transition(opacity .5s ease-in-out);
    &.current {
        opacity: 1;
        z-index: 1;
    }
}
.slides-menu {
    text-align: center;
    position:absolute;
    bottom:0;
    width:100%;
    height:200px;
    @include media($m700) {
        height:150px;
    }
}
.slides-menu-item {
    float:left;
    position:relative;
    width:33.33333%;
    height:200px;
    top:0px;
    overflow:hidden;
    z-index: 9;
    background:#222;
    box-shadow: 0px 0px 20px rgba(0,0,0,0);
    @include transform(translateZ(0));
    @include media($m800) {
        height:160px;
    }
    &.current {
        .heading-bg {
            background: $primary-color;                
        }
    }
    img {
        width:100%;
        height:auto;
        z-index: 0;
        @include transition(all .3s ease-out);
    }
    h3 {
        position:absolute;
        top:0px;
        left:0px;
        width:100%;
        font-size: 0.875em;
        letter-spacing: 1px;
        text-transform: uppercase;
        text-align: center;
        margin: 0;
        padding: 15px 10px;
        @include transition(top .3s ease-out 0.1s);
    }
    .heading-bg {
        position:absolute;
        width: 100%;
        height:50px;
        top:0px;
        left:0px;
        background: #fff;
        @include transition(all .3s ease-out);
    }
    .call-to-action {
        padding:10px 20px;
        border:2px solid rgba(white, 0);
        font-weight:$font-weight-bold;
        font-size:em(18);
        line-height: em(22);
        text-transform: uppercase;
        color: transparentize($body-link-color, 1);
        position:absolute;
        top:50%;
        left:50%;
        @include transform(translate(-50%, -50%));        
        @include transition(color 1s ease-out, top .5s ease-out, border .8s ease-out .3s, background .5s ease-out);
        @include media($m800) {
            font-size: em(15);
        }
    }
    .content {
        position:absolute;
        background:rgba(0,0,0,0);
        top:0;
        left:0;
        width: 100%;
        height: inherit;
        @include transition(background .3s ease-out);
    }
    a {
        display:block;
        height:100%;
    }
}
.slides-menu-item:hover {
    height:220px;
    top:-10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.33);
    z-index: 10;
    @include media($m800) {
        height:180px;
    }

    img {
        width:110%;
        margin-left:-5%;
    }
    h3 {
        top:-50px;
    }
    .heading-bg {
        height:3px;
    }
    .call-to-action {
        color:$white;
        top:55%;
        border:2px solid rgba(white, .4);
        &:hover {
            border:2px solid rgba($primary-color, 1);
            background: rgba(black,.5);
        }
    }
    .content {
        background:rgba(0,0,0,.5);

    }
}

.slides {
    height: 380px;
    position:relative;
    @include outer-container;
    &.mainpage {
        height:536px;
        .slide-content {
            height:336px;
        }
        .promo h2 {
            @include media($m700) {
                text-align: center;
                font-size:2.25em;
                margin-top: 30px;
            }
        }
        .action {
            @include media($m700) {
                height:auto;
                text-align:center;
                top:50px;
            }
        }
    }
    .text { height: 100%;}
    .promo {
        @include span-columns(8);
        height:100%;
        padding-right:20px;
        h2 {
            @include vertical-align;
            font-size:3.25em;
            line-height:1.1em;
            font-weight: $font-weight-bold;
            word-wrap: break-word;
            margin:0;
            padding:0;
            color:#fff;
            text-shadow: 0px 1px 4px rgba(black, .33);
            @include transition(font-size .5s ease);

            @include media($m1000) {
                font-size:2.5em;
            }
            @include media($m900) {
                font-size:2.25em;
            }
            @include media($m800) {
                font-size:2em;
            }
            @include media($m700) {
                font-size:1.75em;
                @include reset-vertical-align;
            }
        }
        @include media($m1000) {
            @include span-columns(7);
        }
        @include media($m900) {
            @include span-columns(6);
        }
        @include media($m800) {
            @include span-columns(5);
        }
        @include media($m700) {
            height:auto;
            @include span-columns(12);
            @include omega;
        }

    }
    @include media($m700) {
        height:460px;
    }
}
.slide-content {
    height:100%;
    left:0px;
    opacity:0;
    overflow: hidden;
    position:absolute;
    top:0px;
    width: 100%;
    z-index:1;
    @include transition(opacity 1s ease-in-out);


    @include media($m1280) {
        padding-right:40px;
        padding-left:40px;
    }
    .action {
        position:relative;
        right:30px;
        top:8px;
        @include span-columns(4);
        @include omega;
        opacity:0;
        height:100%;
        text-align:right;
        @include transition(all 2.5s ease-in-out);

        @include media($m1000) {
            @include span-columns(5);
        }
        @include media($m900) {
            @include span-columns(6);
        }
        @include media($m800) {
            @include span-columns(7);
        }
        @include media($m700) {
            @include span-columns(12);
        }


        a { 
            display:inline-block;
            font-size: 0.875em;
            letter-spacing: 1px;
            color:rgba(0,0,0,0.8);
            text-transform: uppercase;
            @include vertical-align;
            &:hover i {
                background: lighten($primary-color, 10%);
                padding: 15px 45px 0 5px;
                svg {
                    fill:mix($primary-color, $body-font-color, 33%);
                }
            }
            &:hover span {
                padding:0 5px 0 45px;
                background: lighten($primary-color, 10%);
            }

        }
        span {
            float: left;
            height:50px;
            line-height: 50px;
            padding:0px;
            margin:0;
            background: $primary-color;
            padding: 0 20px 0 30px;
            @include transition(all .2s ease-in-out);
        }
        i {
            float: left;
            height:50px;
            top:0;
            background: transparentize($secondary-color, .5);
            padding: 15px 30px 0 20px;
            @include transition(all .2s ease-in-out);
        }
        svg {
            fill:#fff;
            @include transition(fill .2s ease-in-out);
        }
    }

    &.current {
        opacity:1;
        z-index:2;
        @include transition(opacity 1.5s ease-in-out 1s);

        .action {
            right:0;
            opacity:1;
        }
    }
    &.hidden {

    }

}

.promo-form {
    @include span-columns(4);
    @include omega;
    @include vertical-align;
    background: rgba($primary-color, 0.9);
    padding:30px;
    margin-top:-10px;

    .submit-form { height:50px; font-size:em(12);}
    .submit-form:hover {border-color:darken($primary-color, 10%); color:$black}
    input.has-mistake { background: #fff url(../img/icons/warning.png) 100% 50% no-repeat;}

    label {color:#999; display:block; width:65px; position: absolute; top:3px; left:10px; white-space: nowrap; font-size: em(14); line-height: 36px;}
    .capcha {padding-left:95px; position:absolute; top:0; left:0; z-index:1;}
    .capcha:focus {outline:none;}
    .capcha-container {
        position:relative;
        margin-bottom: 20px;
        width:170px;
        height:35px;
        @include media($m700) {
            width:100%;
        }
    }
    .capcha-image {
        display:block;
        position:absolute;
        top:0px;
        left:0;
        width:80px;
        height: 35px;
        z-index:2;
    }
    &.error { background: rgba(240,80,20,.8); }
    @include media($m1000) {
        @include span-columns(5);
    }
    @include media($m900) {
        @include span-columns(6);
    }
    @include media($m800) {
        @include span-columns(7);
    }
    @include media($m700) {
        margin-top:20px;
        @include span-columns(12);
        @include reset-vertical-align;
    }

}
.promo-form.club {
    overflow:hidden;
    padding:0;
    height:260px;
    a {
        color:rgba(0,0,0,0.9);
        span {
            border-bottom:1px solid rgba(0,0,0,0);
            @include transition(all .3s ease-in-out);
        }
        &:hover {
            span {
                border-bottom:1px solid rgba(0,0,0,.66);
            }
            .form-chooser-icon {
                fill:#000;
            }
        }

    }
    .forms-container {width:300%;position:relative;}
    .form-chooser, .email-form, .sms-form {float: left; width:33.3333%; padding:30px;}
    .back {
        display:block;
        position:absolute;
        width:24px;
        height:24px;
        top:30px;
        right:24px;
        svg {
            width:inherit;
            height:inherit;
            fill:rgba(black,.33);
            @include transition(all .3s ease-in-out);
        }
        &:hover {
            svg {
                @include transform(rotate(359deg));
                fill:rgba(black,.66);
            }
        }
    }
    .sms-form, .email-form {position:relative;}
    .sms-form.error, .email-form.error {
        background: rgba(240,80,20,.8);
    }
}
.form-chooser {
    margin-top:25px;
    .heading {
        text-align: center;
        font-size:1.1em;
        padding:0px 20px;
    }
}
.form-chooser-icon {
    display:block;
    margin:0px auto;
    width:100px;
    height:100px;
    fill:rgba(0,0,0,0.66);
    @include transition(all .3s ease-in-out);
}



