.resp-tabs-list li {
    cursor: pointer;
    float: left;
}

.resp-tab-content, .resp-accordion {
    display: none;
}

.resp-tabs-content-padding {
    padding:5px 10px 5px 20px;
}

.resp-vtabs .resp-tabs-list {
    float: left;
    width: 30%;
    border-right:3px solid $primary-color;
}

.resp-tabs-list li {
    display: block;
    cursor: pointer;
    float: none;

    font-size:0.6875em;
    letter-spacing:1px;
    text-transform: uppercase;
    color:$body-font-color;
    margin:0 auto;
    padding:9px 15px;
    line-height:1.3em;
    background: $body-color;
    border-bottom:1px solid darken($body-color, 5%);
    @include transition(all .3s ease-in-out);

}

.resp-vtabs .resp-tabs-container {
    border-left:3px solid $primary-color;
    clear: none;
    float: left;
    font-size: em(15);
    margin-left: -3px;
    width: 70%;
}

.resp-tabs-list .resp-tab-active {
    background: $primary-color;
    color:rgba(black,.6);
}

.resp-arrow {
    width: 0;
    height: 0;
    float: right;
    margin-top: 6px;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 6px solid $line-color;
}

.resp-tab-active span.resp-arrow {
    border: none;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 6px solid rgba(black, .33);
}

.resp-easy-accordion  .resp-accordion, .resp-tab-content-active, .resp-content-active, .resp-accordion-active {
    display: block;
}


@media only screen and (max-width: 768px) {
    .resp-accordion {
        display: block;
        background: $body-color;
        margin:0;
        padding:5px 20px;
        font-size: em(16);
        border-bottom:1px solid $line-color;
        cursor: pointer;
    }
    .resp-tab-active {
        background: $primary-color;
    }

    .resp-vtabs .resp-tabs-container {
        float: none;
        width: 100%;
        clear: none;
        border:none;
    }
    .resp-accordion-closed, .resp-tabs-list {
        display:none !important;
    }
}
