.added-content-wrapper {
    overflow-x: auto;
}
.added-content {
    margin-top:20px;

    tr {
        background:lighten($line-color, 10%);
        &:nth-child(2n) {
            background:lighten($line-color, 13%);
        }
    }
    td {
        padding-top:20px;
        padding-bottom:20px;
    }
    th {
        width: 15%;
        text-align: left;
        background:lighten($line-color, 13%);
        &:first-child {
            width:25%;
        }
        &:last-child {
            width:0%;
        }
    }
    .button {
        margin-bottom: 10px;
        a {
            background: rgba(white, .8);
            white-space: nowrap;
        }
    }
    .linked-item {
        position:relative;
        margin-bottom: 10px;
        .title {
            display: block;
            color: $body-font-color;
            padding-left: 18px;
            font-size: .85em;
            line-height: 1.4em;
            @include transition(all .3s ease-in-out .1s);
            &:hover {
                color: $body-link-color;
            }
        }
        .unlink {
            position:absolute;
            line-height: 1.4em;
            top:0;
            left:0;
            .svg-icon {
                fill:rgba($body-font-color,0);
            }   
        }
        &:hover .unlink .svg-icon {
            fill:rgba($body-font-color,.5);
        }
        .unlink:hover .svg-icon {
            fill:rgba($body-link-color,1);
        }
    }
    .icon-cog,  .icon-cross2 {
        fill:rgba(black, .2);
        &:hover {
            fill: rgba($body-link-color, 1);
        }
    }
}
.add-new-pg {
    position:absolute;
    bottom:10px;
    right:-40px;
    width:35px;
    height:35px;
    fill:rgba($black, .4);
    &:hover {
        fill:rgba($body-link-color, 1);
    }
}

.user-content {
    margin:20px auto;
    @include outer-container;
    .tabs-container {
        border-right:3px solid $primary-color;
        @include span-columns(4);
    }
    .content-container {
        border-left:3px solid $primary-color;
        font-size: em(15);
        margin-left:-3px;
        padding-left:20px;
        @include span-columns(8);
    }
}