{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(page is not null ? page.title : 'News') }}{% endblock %}
{% block meta_description %}{% if page is not null %}{{ page.seoDescription }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if page is not null %}{{ page.seoKeywords }}{% endif %}{% endblock %}


{% block body %}
<div class="content-area">
    <div class="clearfix">
        <div class="right-wide-column tabs-container">
            {% spaceless %}
            {% if app.user %}
            <ul class="tabs float-left">
                <li{% if isMiniForum == true %} class="current"{% endif %}>
                    <div class="button">
                        <a href="{{ path('adrenalins_miniforum') }}">{{ 'news.index.tab.miniforum'|trans }}</a>
                    </div>
                </li>
                <li{% if isMiniForum == false %} class="current"{% endif %}>
                    <div class="button">
                        <a href="{{ path('adrenalins_news') }}">{{ 'news.index.tab.publicNews'|trans }}</a>
                    </div>
                </li>
            </ul>
            {% endif %}

            {% if isMiniForum == false and categories|length %}
            <ul class="tabs outlines float-right">
                {% for category in categories %}
                <li{% if category.id in activeCategories %} class="current"{% endif %} data-slug="{{ category.slug }}">
                    <div class="button">
                        <a href="#">{{ category.title }}</a>
                    </div>
                </li>
                {% endfor %}
            </ul>
            {% endif %}

            {% endspaceless %}
        </div>
    </div>

    <div>
        <div class="spinner" style="display: none;">
            <div class="bounce1"></div>
            <div class="bounce2"></div>
            <div class="bounce3"></div>
        </div>

        {% if items|length %}
        <ul class="news-list rows">
            {% for news in items %}
                {% include 'NewsBundle::news_item.html.twig' with { 'news' : news } %}
            {% endfor %}
        </ul>
        {% endif %}

        {{ knp_pagination_render(items, 'NewsBundle:Pagination:show_more.html.twig') }}
    </div>
</div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
        '../app/Resources/public/js/libs/jquery.history.min.js'
        '../app/Resources/public/js/libs/handlebars-v1.3.0.js'
        '@NewsBundle/Resources/views/hbs/news_item.handlebars'
        '../app/Resources/public/js/pages/news.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts%}
{% endblock javascripts %}
