{% set url = path((news.type) ? 'adrenalins_miniforum_show' : 'adrenalins_news_show', { 'slug' : news.slug }) %}

<li onclick="location.href = '{{ url }}';" class="vp">
    <a href="{{ url }}" class="news-thumbnail">
        <img src="{% if news.imageThumb %}{{ news.imageThumb }}{% else %}/img/300x200/{% if news.type %}no-image-miniforum.jpg{% else %}no-image-news.jpg{% endif %}{% endif %}" border="0" />
    </a>

    <div class="news-data">
        <a href="{{ url }}" class="news-title">{{ news.title }}</a>
        <div class="news-intro">
            {{ news.shortDescription|raw }}
        </div>
    </div>

    <div class="news-attributes clearfix">
        <div class="news-post-date">
            {{ news.createdAt|localizeddate('long', 'none', app.request.locale) }}
        </div>

        <a href="{{ url }}#comments" class="{% if news.hasNewComments %}has {% endif %}badge comments">
            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-comment"></svg><span>{{ news.numComments }}</span>
        </a>

        {% if news.hasGalleries %}
        <a href="{{ url }}#gallery" class="has photogallery">
            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-pictures"></svg> {{ 'news.index.item.photos'|trans }}
        </a>
        {% endif %}

        {% if news.hasVideos %}
        <a href="{{ url }}#video" class="has video">
            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-play"></svg> {{ 'news.index.item.video'|trans }}
        </a>
        {% endif %}
    </div>
</li>
