{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(news.title, page is not null ? page.title : 'News') }}{% endblock %}
{% block meta_description %}{% if page is not null %}{{ page.seoDescription }}{% endif %}{% endblock %}
{% block meta_keywords %}{% if page is not null %}{{ page.seoKeywords }}{% endif %}{% endblock %}

{% set newsListRoute = (isMiniForum) ? 'adrenalins_miniforum' : 'adrenalins_news' %}

{% block body %}
<div class="content-area">
    <div class="button back">
        <a href="{{ path(newsListRoute) }}">
            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-arrow-left3"></use></svg>
        </a>
    </div>

    <div class="has-background article-container">
        <article name="read">
            {% if news.imageBigThumb %}
                <a href="{{ news.imageBigImage }}" class="article-image-link">
                    <img class="article-image" src="{{ news.imageBigThumb }}" alt="" />
                </a>
                {% block prefetch %}
                    <link rel="prefetch" href="{{ news.imageBigImage }}">
                {% endblock %}
            {% endif %}

            {% spaceless %}
            <ul class="tabs article-tabs">
                {% if (news.numComments != 0 and app.user is empty) or app.user %}
                <li>
                    <div class="button">
                        <a href="#comments">
                            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-comment"></use></svg>
                            {% if news.numComments >= 1 %}
                                {% transchoice news.numComments with {'%count%': '<span class="fos-comment-count">' ~ news.numComments ~ '</span>'} from "FOSCommentBundle" %}fos_comment_thread_comment_count{% endtranschoice %}
                            {% else %}
                                {{ 'news.show.write_comment'|trans }}
                            {% endif %}
                        </a>
                    </div>
                </li>
                {% endif %}
                {% if news.hasVideos %}
                <li>
                    <div class="button">
                        <a href="#video">
                            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-play"></use></svg>{{ 'news.show.item.video'|trans }}
                        </a>
                    </div>
                </li>
                {% endif %}
                {% if news.hasGalleries %}
                <li>
                    <div class="button">
                        <a href="#photogallery">
                            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-pictures"></use></svg>{{ 'news.show.item.photos'|trans }}
                        </a>
                    </div>
                </li>
                {% endif %}
            </ul>
            {% endspaceless %}

            <div class="article-heading-container">
                <h1 class="article-heading">{{ news.title }}</h1>

                {% if news.places|length %}
                <div class="center">
                    {% for place in news.places %}
                    <p>
                        <a class="article-place" href="{{ path('adrenalins_places_show', { 'id' : place.id }) }}">
                            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-location"></use></svg>
                            {{ place.title }}
                        </a>
                    </p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <p class="intro">
                {{ news.shortDescription|raw }}
            </p>

            {{ news.content|raw }}

            <hr />
            <div class="clearfix"></div>
            <div class="article-author clearfix">
                {% if news.author.enabled %}
                    <a href="{{ path('adrenalins_user_public_profile', {'username' : news.author.username}) }}" class="avatar size-140">
                        <img src="{{ news.author.avatar }}">
                    </a>
                {% else %}
                    <img src="{{ news.author.avatar }}">
                {% endif %}
                <div class="data">
                    {% if news.author.enabled %}
                        <a href="{{ path('adrenalins_user_public_profile', {'username' : news.author.username}) }}" class="bigger">
                            {{ news.author }}
                        </a>
                    {% else %}
                        {{ news.author }}
                    {% endif %}
                    <div class="smaller lighter">{{ news.createdAt|localizeddate('long', 'none', app.request.locale) }}</div>
                </div>
            </div>
        </article>
    </div>

    {% if news.galleries|length %}
        {% for gallery in news.galleries %}
            {% include 'ApplicationSonataMediaBundle:Gallery:_images_output.html.twig' with { 'gallery' : gallery } %}
        {% endfor %}
    {% endif %}

    {% if news.videos|length %}
        {% for video in news.videos %}
            <section id="video" name="video">
                <div class="section-heading special">{{ video.name }}</div>
                <div class="video-container">
                    {{ video.getMetadataValue('html')|raw }}
                </div>
            </section>
        {% endfor %}
    {% endif %}

    {% if (app.user is empty and news.numComments) or app.user %}
        {% include 'FOSCommentBundle:Thread:async.html.twig' with { 'id': 'news-' ~ news.id, 'numComments' : news.numComments } %}
    {% endif %}
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '../app/Resources/public/js/pages/news_show.js'
    '../app/Resources/public/js/pages/gallery.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
