<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ 'page.tandem.store.order.invoice.title'|trans }}</title>
    <link rel="stylesheet" type="text/css" href="http://adrenalins.lv/css/adrenalins.style.css"/>
    <style>
        .article-heading-container h2 {
            margin-bottom: 5px;
        }
        h1, h2, h3, h4, h5, h6 {
            font-family: Georgia, "Times New Roman", Times, serif;
        }
        .content-area {
            font-size: .9em;
        }
    </style>
</head>
<body>
<div class="content-area has-background">
    <div class="only-column">
        <article>
            <div class="article-heading-container center">
                <h2 class="center">{{ 'page.tandem.store.order.invoice.title'|trans }}</h2>
                <h3 class="article-parent">{{ transaction.code }}</h3>
            </div>

            <table>
                <tr>
                    <td>{{ 'page.tandem.store.order.invoice.client_name'|trans }}</td>
                    <td>{{ transaction.clientFullName }}</td>
                </tr>
                <tr>
                    <td>{{ 'page.tandem.store.order.invoice.valid_until'|trans }}</td>
                    <td>{{ transaction.dateValidTo|date("d/m/Y", "Europe/Riga") }}</td>
                </tr>
                <tr>
                    <td>{{ 'page.tandem.store.order.invoice.school_phone'|trans }}</td>
                    <td>{{ 'page.tandem.store.order.invoice.school_phone_number'|trans }}</td>
                </tr>
            </table>
            {{ 'page.tandem.store.order.description'|trans|raw }}
        </article>
    </div>
</div>

</body>
</html>