{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(page.title, (page.parent) ? page.parent.title : '') }}{% endblock %}
{% block meta_description %}{{ page.seoDescription }}{% endblock %}
{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}

{% block body %}
    <div class="content-area has-background">
        <div class="left-narrow-column">
            <div class="sticky" id="left-column">
                {% if page.parent|length %}
                    {{ sonata_block_render({ 'type': 'adrenalins.block.submenu' }, { 'attr': { 'page' : page }}) }}

                    {% if page.parent.slug == 'club' %}
                        {{ sonata_block_render({ 'type': 'adrenalins.block.events' }) }}
                    {% elseif page.parent.slug == 'school' or page.parent.slug == 'paramotors' %}
                        {{ sonata_block_render({ 'type': 'adrenalins.block.sms' }) }}
                    {% endif %}
                {% endif %}

                {% if page.leftSideContent|length %}
                    {{ page.leftSideContent|raw }}
                {% endif %}
            </div>
        </div>

        <div class="right-wide-column add30v">
            <article>
                <a id="start" name="start"></a>

                <div class="article-heading-container">
                    {% if page.parent|length %}
                        <h2 class="article-parent">{{ page.parent }}</h2>
                    {% endif %}
                    <h1 class="article-heading">{{ page.title }}</h1>
                </div>

                <a id="shop"></a>

                {% for flashMessage in app.session.flashbag.get('error') %}
                    <div class="msg-error">
                        <p>{{ flashMessage | trans | raw }}</p>
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('pending') %}
                    <div class="msg-success" style="color: #8a6d3b;background-color: #fcf8e3;border-color: #faebcc;">
                        <p>{{ flashMessage | trans | raw }}</p>
                    </div>
                {% endfor %}

                {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="msg-success">
                        <p>{{ flashMessage | raw }}</p>
                    </div>
                {% endfor %}

                <div class="tandem-shop add30t" id="tandem-shop">
                    <span class="section-heading inverse">{{ 'page.tandem.store.form.title'|trans }}</span>

                    <form action="{{ path('adrenalins_page_tandem_buy') }}" method="post">
                        <div class="clearfix">
                            <div class="one-half float-left">
                                <div class="add30inside add0b">
                                    {{ form_row(form.clientFullName, {'attr' : { 'class' : 'add20b' } }) }}
                                    {{ form_row(form.clientEmail, {'attr' : { 'class' : 'add20b' } }) }}
                                    {{ form_row(form.clientPhone, {'attr' : { 'class' : 'add20b' } }) }}
                                </div>
                            </div>

                            <div class="one-half float-left">
                                <div class="add30inside add0b">
                                    <div class="align-right tandem-customer-discount-link">
                                        <a>
                                            <svg width="102.988" height="76.995" viewBox="0 0 102.988281 76.994629" enable-background="new 0 0 102.988281 76.994629"><path d="M95.703 26.038c-1.068-8.928-4.357-17.397-9.674-24.79l-.897-1.249h-74.175l-.898 1.248c-6.581 9.15-10.059 19.947-10.059 31.225 0 11.304 3.493 22.122 10.101 31.282l.898 1.245h36.508c5.672 7.295 14.526 11.995 24.482 11.995 17.12 0 30.999-13.88 30.999-30.999 0-7.604-2.742-14.564-7.285-19.958zm-81.604 32.962c-2.367-3.508-4.231-7.273-5.573-11.212h32.518c.228 3.986 1.211 7.769 2.806 11.212h-29.75zm28.618-23.212h-36.6c-.075-1.099-.117-2.204-.117-3.315 0-9.504 2.783-18.624 8.062-26.473h67.965c2.844 4.229 4.956 8.828 6.307 13.656-4.746-2.951-10.344-4.661-16.344-4.661-13.544 0-25.052 8.688-29.272 20.793zm10.045 1.295c0-5.03 3.585-8.99 9.043-8.99 5.512 0 9.097 3.959 9.097 8.99 0 4.977-3.585 8.775-9.097 8.775-5.458 0-9.043-3.799-9.043-8.775zm9.578 27.236h-4.013l22.794-35.69h4.066l-22.848 35.69zm19.103.643c-5.458 0-9.043-3.853-9.043-8.829 0-5.03 3.585-8.99 9.043-8.99s9.097 3.959 9.097 8.99c0 4.977-3.639 8.829-9.097 8.829zM81.442 51.37c-2.461 0-4.227 1.819-4.227 4.763 0 2.89 1.766 4.655 4.227 4.655 2.462 0 4.28-1.766 4.28-4.655 0-2.943-1.818-4.763-4.28-4.763zM66.032 37.083c0-2.997-1.766-4.762-4.228-4.762-2.408 0-4.227 1.766-4.227 4.762 0 2.783 1.818 4.602 4.227 4.602 2.462 0 4.228-1.819 4.228-4.602z"/></svg>
                                            <span>{{ 'page.tandem.store.form.discount.title'|trans }}</span>
                                        </a>
                                        {{ form_row(form.discountCode, {'attr' : { 'style' : 'display: none;', 'class' : 'tandem-customer-discount-code' } }) }}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tandem-customer-price">
                            <h2 class="black">&euro; {{ get_setting('tandem-card-price', 40) }}</h2>
                            <h2 class="outline">&euro; {{ get_setting('tandem-card-price', 40) }}</h2>
                        </div>

                        <div class="center add20inside">
                            <div class="button at-center">
                                <input type="submit" value="{{ 'page.tandem.store.form.submit'|trans }}" />
                            </div>
                        </div>
                    {{ form_end(form) }}
                </div>

                <div class="center add10t add30b">
                    <a class="card-usage-rules">{{ 'page.tandem.store.card_usage_rules'|trans }}</a>
                    <div class="zero-size"><div class="white-popup" id="card_usage_rules_text">{{ 'page.tandem.store.card_usage_rules_text'|trans|raw }}</div></div>
                </div>

                {{ content|raw }}
            </article>

            {% if gallery %}
                {% include 'ApplicationSonataMediaBundle:Gallery:_images_output.html.twig' with { 'gallery' : gallery } %}
            {% endif %}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">var TANDEM_CARD_PRICE = '{{ get_setting('tandem-card-price', 40) }}';</script>

    {% javascripts
    '../app/Resources/public/js/pages/gallery.js'
    '../app/Resources/public/js/pages/sms.js'
    '../app/Resources/public/js/pages/tandem.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
