{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if object.position < admin.last_position %}
            <a class="movedown_link" href="{{ admin.generateObjectUrl('move', object, {'position': 'down'}) }}" title="Move down">
                <img src="{{ asset('bundles/faq/images/asc.png') }}" alt="{% trans %}Move up{% endtrans %}"/>
            </a>
        {% endif %}

        {% if object.position > 0 %}
            <a class="moveup_link" href="{{ admin.generateObjectUrl('move', object, {'position': 'up'}) }}" title="Move up">
                <img src="{{ asset('bundles/faq/images/desc.png') }}" alt="{% trans %}Up{% endtrans %}"/>
            </a>
        {% endif %}
    {% endspaceless %}
{% endblock %}