<div class="content-area clearfix add20b">
    <div class="clearfix">
        <div class="right-wide-column tabs-container">
            {% spaceless %}
            <ul class="tabs float-left">
                <li{% if context == 'photo' %} class="current"{% endif %}>
                    <div class="button">
                        <a href="{{ path('adrenalins_media_context', {'context' : 'photo'}) }}">{{ 'media.tab.photo'|trans }}</a>
                    </div>
                </li>
                <li{% if context == 'video' %} class="current"{% endif %}>
                    <div class="button">
                        <a href="{{ path('adrenalins_media_context', {'context' : 'video'}) }}">{{ 'media.tab.video'|trans }}</a>
                    </div>
                </li>
                <li{% if context == 'aerophoto' %} class="current"{% endif %}>
                    <div class="button">
                        <a href="{{ path('adrenalins_media_context', {'context' : 'aerophoto'}) }}">{{ 'media.tab.aerophoto'|trans }}</a>
                    </div>
                </li>
            </ul>
            {% endspaceless %}

            {% if withSort is defined and withSort == true %}
            {% spaceless %}
                <ul class="tabs dark float-right">
                    <li>
                        <div class="button">
                            <a href="javascript:;" class="search-link">{{ 'media.did_not_find'|trans }}</a>
                        </div>
                    </li>
                </ul>
            {% endspaceless %}
            {% endif %}
        </div>
    </div>
</div>