{% extends "::base.html.twig" %}


{% block body %}
    {% include 'ApplicationSonataMediaBundle::_index_head.html.twig' with {'context' : context, 'withSort' : true} %}

    <div class="content-area media">
        <a id="start" name="start"></a>
        <div id="waterfall-video" class="clearfix"></div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '../app/Resources/public/js/libs/handlebars-v1.3.0.js'
    '@ApplicationSonataMediaBundle/Resources/views/hbs/video_items.handlebars'
    '../app/Resources/public/js/pages/video.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}