<div class="white-popup">
    <form id="form-link-objects" action="{{ app.request.uri }}" method="POST">
        <div class="row clearfix">
            <label for="link-objects">{{ 'user.data.manage.link.attach_title'|trans }}</label>
            <select data-placeholder="{{ 'user.data.manage.link.label_chosen_placeholder'|trans }}" class="chosen-select" name="linkObjects[]" id="link-objects" multiple="multiple" size="4">
                {% for item in items %}
                <option value="{{ item.id }}" {% if item.id in selected %}disabled{% endif %}>{{ item.name }}</option>
                {% endfor %}
            </select>

            <div class="small lighter align-right">
                {{ 'user.news.manage.form.label_multiselect_help'|trans }}
            </div>
        </div>

        <div class="button inverse at-center add20t">
            <a href="#">{{ 'user.data.manage.link.attach_submit'|trans }}</a>
        </div>
    </form>
</div>
