{% extends "::base.html.twig" %}

{% set pageTitle = (id) ? 'user.news.manage.title.edit'|trans : 'user.news.manage.title'|trans %}
{% block title %}{{ getMetaTitle(pageTitle, 'pilots.my_accout'|trans) }}{% endblock %}

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}


{% block body %}
<div class="content-area">
    <div class="button back">
        <a href="{{ path('adrenalins_homepage') }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-arrow-left3"></use></svg></a>
    </div><div class="has-background clearfix">
        <div class="only-column add30v">
            <div class="main-content">
                <a id="start" name="start"></a>

                <div class="article-heading-container">
                    <h2 class="article-parent">{{ user }}</h2>
                    <h1 class="article-heading">{{ pageTitle }}</h1>
                </div>

                <div class="user-form">

                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="msg-success">
                            <p>{{ flashMessage | trans | raw }}</p>
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="msg-error">
                            <p>{{ flashMessage | trans }}</p>
                            {% if formErrors %}
                                {% for errorField,erroMessage in formErrors %}
                                    <p>{{ ('Field "%field%" error message "%error%"' | trans ({'%field%' : errorField , '%error%' : erroMessage})) }}</p>
                                {% endfor %}

                            {% endif %}
                        </div>
                    {% endfor %}

                    <form enctype="multipart/form-data" action="{{ currentPath }}" method="POST">

                        <div class="row clearfix {{ (form.title.vars.errors | length > 0) ? 'error' : '' }}">
                            {{ form_widget(form.title) }}
                        </div>

                        <div class="row clearfix {{ (form.shortDescription.vars.errors | length > 0) ? 'error' : '' }}">
                            {{ form_widget(form.shortDescription) }}
                        </div>

                        <div class="row clearfix tinymce {{ (form.content.vars.errors | length > 0) ? 'error' : '' }}">
                            {{ form_widget(form.content) }}
                        </div>

                        <div class="row clearfix {{ (form.file.vars.errors | length > 0) ? 'error' : '' }}">
                            {{ form_widget(form.file) }}
                        </div>

                        {% if route != 'miniforum' %}
                        <div class="row clearfix {{ (form.categories.vars.errors | length > 0) ? 'error' : '' }}">
                            {{ form_widget(form.categories) }}
                            <div class="small lighter align-right">{{ 'user.news.manage.form.label_multiselect_help'|trans }}</div>
                        </div>
                        {% endif %}

                        <div class="row clearfix">
                            {{ form_label(form.galleries) }}

                            {{ form_widget(form.galleries, {'attr' : { 'data-placeholder' : 'user.news.manage.form.label_chosen_placeholder'|trans } }) }}
                            <div class="small lighter align-right">{{ 'user.news.manage.form.label_multiselect_help'|trans }}</div>
                        </div>

                        <div class="row clearfix">
                            {{ form_label(form.videos) }}

                            {{ form_widget(form.videos, {'attr' : { 'data-placeholder' : 'user.news.manage.form.label_chosen_placeholder'|trans } }) }}
                            <div class="small lighter align-right">{{ 'user.news.manage.form.label_multiselect_help'|trans }}</div>
                        </div>

                        <div class="row clearfix">
                            {{ form_label(form.places) }}

                            {{ form_widget(form.places, {'attr' : { 'data-placeholder' : 'user.news.manage.form.label_chosen_placeholder'|trans } }) }}
                            <div class="small lighter align-right">{{ 'user.news.manage.form.label_multiselect_help'|trans }}</div>
                        </div>

                        <div class="row clearfix">
                            {{ form_label(form.events) }}

                            {{ form_widget(form.events, {'attr' : { 'data-placeholder' : 'user.news.manage.form.label_chosen_placeholder'|trans } }) }}
                            <div class="small lighter align-right">{{ 'user.news.manage.form.label_multiselect_help'|trans }}</div>
                        </div>

                        <div class="button inverse at-center add20t">
                            {{ form_rest(form) }}

                            <input type="submit" value="{{ 'user.news.manage.form.label_submit'|trans }}" />
                        </div>

                    </form>
                </div>

                {% if news|length %}
                <div class="user-form add30t" id="content-table">
                    <legend class="add0b">{{ 'user.news.manage.list.title'|trans }}</legend>
                    <div class="small lighter">{{ 'user.news.manage.list.help'|trans }}</div>

                    <div class="added-content-wrapper">
                        <table class="added-content">
                            <thead>
                                <tr>
                                    <th>{{ 'user.news.manage.list.table.th.title'|trans }}</th>
                                    <th>{{ 'user.news.manage.list.table.th.media'|trans }}</th>
                                    <th>{{ 'user.news.manage.list.table.th.videos'|trans }}</th>
                                    <th>{{ 'user.news.manage.list.table.th.events'|trans }}</th>
                                    <th>{{ 'user.news.manage.list.table.th.places'|trans }}</th>
                                    <th width="0">&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for item in news %}
                                <tr>
                                    <td>
                                        <a href="{{ path('adrenalins_user_'~ route ~'_edit', { 'id' : item.id }) }}" class="hastip" title="{{ 'user.news.manage.title.edit'|trans }}">{{ item.title }}</a>
                                    </td>

                                    <td id="linked-gallery-{{ item.id }}">
                                        <div class="button wide">
                                            <a title="{{ 'user.data.manage.list.table.add_link_gallery'|trans({'%name%': item.title}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'news', 'objectId' : item.id, 'linkName' : 'gallery' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                        </div>
                                        {% for gallery in item.galleries %}
                                            <div class="linked-item">
                                                <a data-id="{{ item.id }}" data-name="news" data-link-name="gallery" data-link-id="{{ gallery.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                <a href="#" class="title">{{ gallery.name }}</a>
                                            </div>
                                        {% endfor %}
                                    </td>

                                    <td id="linked-video-{{ item.id }}">
                                        <div class="button wide">
                                            <a title="{{ 'user.data.manage.list.table.add_link_video'|trans({'%name%': item.title}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'news', 'objectId' : item.id, 'linkName' : 'video' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                        </div>
                                        {% for video in item.videos %}
                                            <div class="linked-item">
                                                <a data-id="{{ item.id }}" data-name="news" data-link-name="video" data-link-id="{{ video.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                <a href="#" class="title">{{ video.name }}</a>
                                            </div>
                                        {% endfor %}
                                    </td>

                                    <td id="linked-event-{{ item.id }}">
                                        <div class="button wide">
                                            <a title="{{ 'user.data.manage.list.table.add_link_event'|trans({'%name%': item.title}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'news', 'objectId' : item.id, 'linkName' : 'event' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                        </div>
                                        {% for event in item.events %}
                                            <div class="linked-item">
                                                <a data-id="{{ item.id }}" data-name="news" data-link-name="event" data-link-id="{{ event.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                <a href="#" class="title">{{ event.title }}</a>
                                            </div>
                                        {% endfor %}
                                    </td>

                                    <td id="linked-place-{{ item.id }}">
                                        <div class="button wide">
                                            <a title="{{ 'user.data.manage.list.table.add_link_place'|trans({'%name%': item.title}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'news', 'objectId' : item.id, 'linkName' : 'place' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                        </div>
                                        {% for place in item.places %}
                                            <div class="linked-item">
                                                <a data-id="{{ item.id }}" data-name="news" data-link-name="place" data-link-id="{{ place.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                <a href="#" class="title">{{ place.title }}</a>
                                            </div>
                                        {% endfor %}
                                    </td>

                                    <td>
                                        <a onclick="javascript:confirm('{{ 'user.news.manage.list.table.delete_confirm'|trans }}');" href="{{ path('adrenalins_user_'~ route ~'_delete', { 'id' : item.id }) }}" title="{{ (route != 'miniforum') ? 'user.news.manage.list.table.delete_item'|trans({'%name%': item.title}) : 'user.miniforum.manage.list.table.delete_item'|trans({'%name%': item.title}) }}">
                                            <svg class="svg-icon icon-cross2 animate" viewBox="0 0 16 16"><use xlink:href="#icon-cross2"></use></svg>
                                        </a>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}
            </div>

        </div>
    </div>
</div>
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '../app/Resources/public/js/libs/chosen_v1.1.0/chosen.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {{ tinymce_init() }}

    {% javascripts
    '../app/Resources/public/js/libs/chosen_v1.1.0/chosen.jquery.min.js'
    '../app/Resources/public/js/libs/jquery.magnific-popup.min.js'
    '../app/Resources/public/js/pages/user_content.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts%}

    <script type="text/javascript">
        $(function() {
            $(".chosen-select").chosen({
                max_selected_options: 50,
                no_results_text: '{{ 'user.news.manage.form.label_chosen_no_results_text'|trans }}'
            });
        });
    </script>
{% endblock javascripts %}
