{% set isGalleryPage = (app.request.attributes.get('_route') == 'sonata_media_gallery_view') %}
<section class="photogallery" id="photogallery" name="photogallery">
    {% spaceless %}
    {% if isGalleryPage %}
        <div class="section-heading special">
    {% else %}
        <a class="section-heading special" href="{{ path('sonata_media_gallery_view', {'id' : gallery.id}) }}">
    {% endif %}

    {{ gallery.name }} <span class="badge">{{ gallery.GalleryHasMedias|length }}</span>

    {% if isGalleryPage %}</div>{% else %}</a>{% endif %}
    {% endspaceless %}

    <ul class="photogallery-list">
        {% for galleryHasMedia in gallery.GalleryHasMedias %}
            {% set format = (loop.first) ? 'medium' : 'tiny' %}

            {% spaceless %}
                <li>
                    {% if loop.last %}
                        <a href="{% path galleryHasMedia.media, 'big' %}" class="more-images">
                            {% thumbnail galleryHasMedia.media, format with { 'class': 'more-images' } %}
                            <svg xmlns="http://www.w3.org/2000/svg" class="svg-icon" viewBox="0 0 16 16"><path d="M4.48 13.934c-.214.217-.214.566 0 .783s.561.217.775 0l6.264-6.326c.214-.217.214-.567 0-.783l-6.264-6.326c-.214-.217-.561-.217-.775 0s-.214.566 0 .783l5.712 5.934-5.712 5.934z"/></svg>
                        </a>
                    {% else %}
                        <a href="{% path galleryHasMedia.media, 'big' %}">
                            {% thumbnail galleryHasMedia.media, format %}
                        </a>
                    {% endif %}
                </li>
            {% endspaceless %}
        {% endfor %}
    </ul>
</section>