{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(gallery.name, 'Media') }}{% endblock %}

{% block body %}
    <div class="content-area clearfix">
        <div class="button back">
            <a href="{{ path('adrenalins_media') }}"><svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="M11.52 13.934c.213.217.213.566 0 .783-.215.217-.562.217-.775 0l-6.265-6.326c-.214-.217-.214-.567 0-.783l6.264-6.326c.214-.217.561-.217.775 0 .213.217.213.566 0 .783l-5.712 5.934 5.713 5.935z"/></svg></a>
        </div>

        <div class="has-background article-container">
            <div class="article-heading-container">
                {% if gallery.author %}
                <h2 class="article-parent">{{ gallery.author }}</h2>
                {% endif %}
                <h1 class="article-heading">{{ gallery.name }}</h1>

                {% if gallery.places|length %}
                <div class="center">
                    {% for place in gallery.places %}
                        <a class="article-place" href="{{ path('adrenalins_places_show', { 'id' : place.id }) }}">
                            <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                                <path d="M8 0c-2.762 0-5 2.239-5 5 0 4.774 5 11 5 11s5-6.226 5-11c0-2.761-2.239-5-5-5zm0 8.302c-1.791 0-3.241-1.452-3.241-3.242s1.45-3.242 3.241-3.242c1.79 0 3.241 1.452 3.241 3.242s-1.451 3.242-3.241 3.242z"/>
                            </svg>
                            {{ place.title }}
                        </a>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            {% include 'ApplicationSonataMediaBundle:Gallery:_images_output.html.twig' with { 'gallery' : gallery } %}

            {% if gallery.videos|length or gallery.news|length or gallery.events|length %}
            <div>
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">{{ 'galleries.show.linked_objects'|trans }}</th>
                        </tr>
                    </thead>

                    <tbody>
                    {% if gallery.videos|length %}
                    <tr>
                        <td>{{ 'galleries.show.linked_objects.video'|trans }}</td>
                        <td>
                            {% for video in gallery.videos %}
                            <div>
                                <a class="video" href="{% if video.providerName == 'sonata.media.provider.youtube' %}http://www.youtube.com/watch?v={% else %}http://vimeo.com/{% endif %}{{ video.providerReference }}">
                                    {{ video.name }}
                                </a>
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}

                    {% if gallery.news|length %}
                    <tr>
                        <td>{{ 'galleries.show.linked_objects.news'|trans }}</td>
                        <td>
                            <ul class="with-dividers">
                                {% for news in gallery.news %}
                                <li>
                                    <div>
                                        <a href="{{ path('adrenalins_news_show', {'slug' : news.slug}) }}">
                                            {{ news.title }}
                                        </a>
                                    </div>
                                    <div class="small lighter">
                                        {{ news.publishedAt|localizeddate('long', 'none', app.request.locale) }}
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </td>
                    </tr>
                    {% endif %}

                    {% if gallery.events|length %}
                    <tr>
                        <td>{{ 'galleries.show.linked_objects.event'|trans }}</td>
                        <td>
                            {% for event in gallery.events %}
                            <div>
                                <a href="{{ path('events_club_calendar_event', { 'id' : event.id }) }}">
                                    {{ event.title }}
                                </a>
                            </div>
                            <div class="small lighter">
                                {{ event.dateBegin|localizeddate('long', 'none', app.request.locale) }}
                            </div>
                            {% endfor %}
                        </td>
                    </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            {% if gallery.author %}
            <div class="article-author clearfix">
                {% if gallery.author.enabled %}
                    <a href="{{ path('adrenalins_user_public_profile', {'username' : gallery.author.username}) }}" class="avatar size-140">
                        <img src="{{ gallery.author.avatar }}" border="0">
                    </a>
                {% else %}
                    <img src="{{ gallery.author.avatar }}" border="0">
                {% endif %}
                <div class="data">
                    {% if gallery.author.enabled %}
                        <a href="{{ path('adrenalins_user_public_profile', {'username' : gallery.author.username}) }}" class="bigger">
                            {{ gallery.author }}
                        </a>
                    {% else %}
                        {{ gallery.author }}
                    {% endif %}
                    <div class="smaller lighter">
                        {{ gallery.createdAt|localizeddate('long', 'none', app.request.locale) }}
                    </div>
                </div>
            </div>
            {% endif %}

            {% if (app.user is empty and gallery.numComments) or app.user %}
                {% include 'FOSCommentBundle:Thread:async.html.twig' with { 'id': 'gallery-' ~ gallery.id, 'numComments' : gallery.numComments } %}
            {% endif %}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '../app/Resources/public/js/pages/gallery.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
