{% extends "::base.html.twig" %}

{% set pageTitle = (id) ? 'user.galleries.manage.title.edit'|trans : 'user.galleries.manage.title'|trans %}
{% block title %}{{ getMetaTitle(pageTitle, 'pilots.my_accout'|trans) }}{% endblock %}

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}


{% block body %}
    <div class="content-area">
        <div class="button back">
            <a href="{{ path('adrenalins_homepage') }}">
                <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-arrow-left3"></use></svg>
            </a>
        </div>

        <div class="has-background clearfix">
            <div class="only-column add30v">
                <div class="main-content">
                    <a id="start" name="start"></a>

                    <div class="article-heading-container">
                        <h2 class="article-parent">{{ user }}</h2>
                        <h1 class="article-heading">{{ pageTitle }}</h1>
                    </div>

                    <div class="user-form">

                        {% for flashMessage in app.session.flashbag.get('success') %}
                            <div class="msg-success">
                                <p>{{ flashMessage | trans }}</p>
                            </div>
                        {% endfor %}

                        {% for flashMessage in app.session.flashbag.get('error') %}
                            <div class="msg-error">
                                <p>{{ flashMessage | trans }}</p>
                                {% if formErrors %}
                                    {% for errorField,erroMessage in formErrors %}
                                        <p>{{ ('Field "%field%" error message "%error%"' | trans ({'%field%' : errorField , '%error%' : erroMessage})) }}</p>
                                    {% endfor %}

                                {% endif %}
                            </div>
                        {% endfor %}

                        <div class="row clearfix">

                            <form id="fileupload" action="{{ currentPath }}" enctype="multipart/form-data" method="POST">

                                <div class="row clearfix">
                                    {{ form_widget(form.name) }}
                                </div>

                                <div class="row fileupload-buttonbar">
                                    <div>
                                        <label for="multiple-files">{{ 'user.galleries.manage.form.help_upload'|trans }}</label>
                                        <input type="file" name="files[]" id="multiple-files" multiple />
                                    </div>

                                    <div class="progress">
                                        <div class="progress-bar" style="width:0%;"></div>
                                    </div>

                                </div>

                                <div id="files" class="files">
                                    {% for item in mediaItems %}
                                        {% if id %}
                                            <div class="file-item">
                                                <a href="{% path item.media, 'big' %}">
                                                    {% thumbnail item.media, 'small' with {'title': item.media.name } %}
                                                </a>

                                                <div class="button">
                                                    <button href="{{ path('adrenalins_user_media_gallery_upload_remove', { 'id' : item.id }) }}">
                                                        {{ 'user.galleries.manage.item_delete'|trans }}
                                                    </button>
                                                </div>
                                            </div>
                                        {% else %}
                                            <div class="file-item">
                                                <a href="{{ app.request.getSchemeAndHttpHost() }}/uploads/media/photo/tmp/{{ item.filePath }}">
                                                    <img src="{{ app.request.getSchemeAndHttpHost() }}/uploads/media/photo/tmp/{{ item.filePath }}" width="300" />
                                                </a>
                                                <div class="button">
                                                    <button href="{{ path('adrenalins_user_media_gallery_upload_tmp_remove', { 'id' : item.id }) }}">
                                                        {{ 'user.galleries.manage.item_delete'|trans }}
                                                    </button>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                </div>

                                <div class="button inverse at-center add20t">
                                    <button type="submit">
                                        {{ (id > 0) ? 'user.galleries.manage.form.label_submit_changes'|trans : 'user.galleries.manage.form.label_submit'|trans }}
                                    </button>
                                </div>

                                {{ form_rest(form) }}
                            </form>

                        </div>

                    </div>

                    {% if galleries|length %}
                        <div class="user-form add30t" id="content-table">
                            <legend class="add0b">{{ 'user.galleries.manage.list.title'|trans }}</legend>
                            <div class="small lighter">{{ 'user.galleries.manage.list.help'|trans }}</div>

                            <div class="added-content-wrapper">
                                <table class="added-content">
                                    <thead>
                                        <tr>
                                            <th>{{ 'user.galleries.manage.list.table.th.title'|trans }}</th>
                                            <th>{{ 'user.galleries.manage.list.table.th.news'|trans }}</th>
                                            <th>{{ 'user.galleries.manage.list.table.th.video'|trans }}</th>
                                            <th>{{ 'user.galleries.manage.list.table.th.events'|trans }}</th>
                                            <th>{{ 'user.galleries.manage.list.table.th.places'|trans }}</th>
                                            <th width="0">&nbsp;</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        {% for item in galleries %}
                                            <tr>
                                                <td>
                                                    <a href="{{ path('adrenalins_user_media_gallery_edit', { 'id' : item.id }) }}" class="hastip" title="{{ 'user.places.manage.title.edit'|trans }}">{{ item.name }}</a>
                                                </td>

                                                <td id="linked-news-{{ item.id }}">
                                                    <div class="button wide">
                                                        <a title="{{ 'user.data.manage.list.table.add_link_news'|trans({'%name%': item.name}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'gallery', 'objectId' : item.id, 'linkName' : 'news' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                                    </div>
                                                    {% for news in item.news %}
                                                        <div class="linked-item">
                                                            <a data-id="{{ item.id }}" data-name="gallery" data-link-name="news" data-link-id="{{ news.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                            <a href="#" class="title">{{ news.name }}</a>
                                                        </div>
                                                    {% endfor %}
                                                </td>

                                                <td id="linked-video-{{ item.id }}">
                                                    <div class="button wide">
                                                        <a title="{{ 'user.data.manage.list.table.add_link_video'|trans({'%name%': item.name}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'gallery', 'objectId' : item.id, 'linkName' : 'video' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                                    </div>
                                                    {% for video in item.videos %}
                                                        <div class="linked-item">
                                                            <a data-id="{{ item.id }}" data-name="gallery" data-link-name="video" data-link-id="{{ video.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                            <a href="#" class="title">{{ video.name }}</a>
                                                        </div>
                                                    {% endfor %}
                                                </td>

                                                <td id="linked-event-{{ item.id }}">
                                                    <div class="button wide">
                                                        <a title="{{ 'user.data.manage.list.table.add_link_event'|trans({'%name%': item.name}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'gallery', 'objectId' : item.id, 'linkName' : 'event' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                                    </div>
                                                    {% for event in item.events %}
                                                        <div class="linked-item">
                                                            <a data-id="{{ item.id }}" data-name="gallery" data-link-name="event" data-link-id="{{ event.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                            <a href="#" class="title">{{ event.title }}</a>
                                                        </div>
                                                    {% endfor %}
                                                </td>

                                                <td id="linked-place-{{ item.id }}">
                                                    <div class="button wide">
                                                        <a title="{{ 'user.data.manage.list.table.add_link_place'|trans({'%name%': item.name}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'gallery', 'objectId' : item.id, 'linkName' : 'place' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                                    </div>
                                                    {% for place in item.places %}
                                                        <div class="linked-item">
                                                            <a data-id="{{ item.id }}" data-name="gallery" data-link-name="place" data-link-id="{{ place.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                            <a href="#" class="title">{{ place.title }}</a>
                                                        </div>
                                                    {% endfor %}
                                                </td>

                                                <td>
                                                    <a onclick="javascript:confirm('{{ 'user.galleries.manage.list.table.delete_confirm'|trans }}');" href="{{ path('adrenalins_user_media_gallery_delete', { 'id' : item.id }) }}" class="hastip" title="{{ 'user.galleries.manage.list.table.delete_item'|trans({'%name%': item.name}) }}">
                                                        <svg class="svg-icon icon-cross2 animate" viewBox="0 0 16 16"><use xlink:href="#icon-cross2"></use></svg>
                                                    </a>
                                                </td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
    '../app/Resources/public/js/libs/chosen_v1.1.0/chosen.css'
    '../app/Resources/public/js/libs/jquery-file-upload/css/jquery.fileupload.css'
    '../app/Resources/public/js/libs/jquery-file-upload/css/jquery.fileupload-ui.css'
    %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        var galleryId = '{{ id }}',
                galleryUploadUrl = (galleryId > 0) ?
                "{{ path('adrenalins_user_media_gallery_edit_upload', {'id' : id}) }}" :
                "{{ path('adrenalins_user_media_gallery_upload') }}";
    </script>

    {% javascripts
    '../app/Resources/public/js/libs/chosen_v1.1.0/chosen.jquery.min.js'
    '../app/Resources/public/js/libs/jquery-file-upload/js/vendor/jquery.ui.widget.js'
    '//blueimp.github.io/JavaScript-Load-Image/js/load-image.all.min.js'
    '//blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js'
    '../app/Resources/public/js/libs/jquery-file-upload/js/jquery.iframe-transport.js'
    '../app/Resources/public/js/libs/jquery-file-upload/js/jquery.fileupload.js'
    '../app/Resources/public/js/libs/jquery-file-upload/js/jquery.fileupload-process.js'
    '../app/Resources/public/js/libs/jquery-file-upload/js/jquery.fileupload-image.js'
    '../app/Resources/public/js/libs/jquery-file-upload/js/jquery.fileupload-validate.js'
    '../app/Resources/public/js/pages/user_content.js'
    '../app/Resources/public/js/libs/jquery.magnific-popup.min.js'
    '../app/Resources/public/js/pages/gallery_create.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function() {
            $(".chosen-select").chosen({
                max_selected_options: 50,
                no_results_text: '{{ 'user.galleries.manage.form.label_chosen_no_results_text'|trans }}'
            });
        });
    </script>

{% endblock javascripts %}
