{% extends "::base.html.twig" %}

{% set pageTitle = (id) ? 'user.videos.manage.title.edit'|trans : 'user.videos.manage.title'|trans %}
{% block title %}{{ getMetaTitle(pageTitle, 'pilots.my_accout'|trans) }}{% endblock %}

{% set currentPath = path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')) %}


{% form_theme form _self %}

{% block form_errors %}
    {% spaceless %}
        {% if errors|length > 0 %}
            <ul>
                {% for error in errors %}
                    <li>{{ error.message | raw }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endspaceless %}
{% endblock form_errors %}

{% block body %}
<div class="content-area">
    <div class="button back">
        <a href="{{ path('adrenalins_homepage') }}">
            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-arrow-left3"></use></svg>
        </a>
    </div>

    <div class="has-background clearfix">
        <div class="only-column add30v">
            <div class="main-content">
                <a id="start" name="start"></a>

                <div class="article-heading-container">
                    <h2 class="article-parent">{{ user }}</h2>
                    <h1 class="article-heading">{{ pageTitle }}</h1>
                </div>

                <div class="user-form">

                    {% for flashMessage in app.session.flashbag.get('success') %}
                        <div class="msg-success">
                            <p>{{ flashMessage | trans | raw }}</p>
                        </div>
                    {% endfor %}

                    {% for flashMessage in app.session.flashbag.get('error') %}
                        <div class="msg-error">
                            <p>{{ flashMessage | trans | raw }}</p>
                            {% if formErrors %}
                                {% for errorField,erroMessage in formErrors %}
                                    <p>{{ ('Field "%field%" error message "%error%"' | trans ({'%field%' : errorField , '%error%' : erroMessage})) }}</p>
                                {% endfor %}
                            {% endif %}
                        </div>
                    {% endfor %}

                    <form action="{{ currentPath }}" method="POST">
                        <fieldset>
                            <legend>{{ 'user.videos.manage.form.legend_video_title'|trans }}</legend>

                            <div class="row clearfix">
                                {{ form_row(form.url) }}

                                <div class="small lighter">
                                    {{ 'user.videos.manage.form.help_url'|trans }}
                                </div>

                                <div class="button inverse at-center add20t">
                                    {{ form_rest(form) }}
                                    <input type="submit" value="{{ 'user.videos.manage.form.label_submit'|trans }}" />
                                </div>
                            </div>
                        </fieldset>
                    </form>
                </div>

                {% if videos|length %}
                <div class="user-form add30t" id="content-table">
                    <legend class="add0b">{{ 'user.videos.manage.list.title'|trans }}</legend>
                    <div class="small lighter">{{ 'user.videos.manage.list.help'|trans }}</div>

                    <div class="added-content-wrapper">
                        <table class="added-content">
                            <thead>
                                <tr>
                                    <th>{{ 'user.videos.manage.list.table.th.title'|trans }}</th>
                                    <th>{{ 'user.videos.manage.list.table.th.news'|trans }}</th>
                                    <th>{{ 'user.videos.manage.list.table.th.galleries'|trans }}</th>
                                    <th>{{ 'user.videos.manage.list.table.th.events'|trans }}</th>
                                    <th>{{ 'user.videos.manage.list.table.th.places'|trans }}</th>
                                    <th width="0">&nbsp;</th>
                                </tr>
                            </thead>

                            <tbody>
                                {% for item in videos %}
                                    {% if item.providerName == 'sonata.media.provider.youtube' %}
                                        {% set url = 'http://www.youtube.com/watch?v=' ~ item.providerReference %}
                                    {% else %}
                                        {% set url = 'http://vimeo.com/' ~ item.providerReference %}
                                    {% endif %}

                                    <tr>
                                        <td>
                                            <a href="{{ url }}" class="video">
                                                {% if item.providerName == 'sonata.media.provider.youtube' %}
                                                    <svg class="svg-icon" viewBox="0 0 16 16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-play"></use></svg>
                                                {% else %}
                                                    <svg class="svg-icon" viewBox="0 0 16 16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-vimeo"></use></svg>
                                                {% endif %}
                                            </a>

                                            <a href="{{ path('adrenalins_user_media_video_edit', { 'id' : item.id }) }}" class="hastip" title="{{ 'user.videos.manage.title.edit'|trans }}">{{ item.name }}</a>
                                        </td>

                                        <td id="linked-news-{{ item.id }}">
                                            <div class="button wide">
                                                <a title="{{ 'user.data.manage.list.table.add_link_news'|trans({'%name%': item.name}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'video', 'objectId' : item.id, 'linkName' : 'news' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                            </div>
                                            {% for news in item.news %}
                                                <div class="linked-item">
                                                    <a data-id="{{ item.id }}" data-name="video" data-link-name="news" data-link-id="{{ news.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                    <a href="#" class="title">{{ news.name }}</a>
                                                </div>
                                            {% endfor %}
                                        </td>

                                        <td id="linked-gallery-{{ item.id }}">
                                            <div class="button wide">
                                                <a title="{{ 'user.data.manage.list.table.add_link_gallery'|trans({'%name%': item.name}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'video', 'objectId' : item.id, 'linkName' : 'gallery' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                            </div>
                                            {% for gallery in item.galleries %}
                                                <div class="linked-item">
                                                    <a data-id="{{ item.id }}" data-name="video" data-link-name="gallery" data-link-id="{{ gallery.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                    <a href="#" class="title">{{ gallery.name }}</a>
                                                </div>
                                            {% endfor %}
                                        </td>

                                        <td id="linked-event-{{ item.id }}">
                                            <div class="button wide">
                                                <a title="{{ 'user.data.manage.list.table.add_link_event'|trans({'%name%': item.name}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'video', 'objectId' : item.id, 'linkName' : 'event' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                            </div>
                                            {% for event in item.events %}
                                                <div class="linked-item">
                                                    <a data-id="{{ item.id }}" data-name="video" data-link-name="event" data-link-id="{{ event.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                    <a href="#" class="title">{{ event.title }}</a>
                                                </div>
                                            {% endfor %}
                                        </td>

                                        <td id="linked-place-{{ item.id }}">
                                            <div class="button wide">
                                                <a title="{{ 'user.data.manage.list.table.add_link_place'|trans({'%name%': item.name}) }}" class="hastip" href="{{ path('adrenalins_user_content_link_create', { 'module' : 'video', 'objectId' : item.id, 'linkName' : 'place' } ) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-paperclip"></use></svg> {{ 'user.data.manage.list.table.add_link'|trans }}</a>
                                            </div>
                                            {% for place in item.places %}
                                                <div class="linked-item">
                                                    <a data-id="{{ item.id }}" data-name="video" data-link-name="place" data-link-id="{{ place.id }}" href="#delete" class="unlink hastip" title="{{ 'user.data.manage.list.table.remove_link'|trans }}"><svg class="svg-icon animate" viewBox="0 0 16 16"><use xlink:href="#icon-minus2"></use></svg></a>
                                                    <a href="#" class="title">{{ place.title }}</a>
                                                </div>
                                            {% endfor %}
                                        </td>

                                        <td>
                                            <a onclick="javascript:confirm('{{ 'user.videos.manage.list.table.delete_confirm'|trans }}');" href="{{ path('adrenalins_user_media_video_delete', { 'id' : item.id }) }}" class="hastip" title="{{ 'user.videos.manage.list.table.delete_item'|trans({'%name%': item.name}) }}">
                                                <svg class="svg-icon icon-cross2 animate" viewBox="0 0 16 16"><use xlink:href="#icon-cross2"></use></svg>
                                            </a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
                {% endif %}

            </div>
        </div>
    </div>
</div>
{% endblock body %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets '../app/Resources/public/js/libs/chosen_v1.1.0/chosen.css' %}
    <link rel="stylesheet" type="text/css" href="{{ asset_url }}"/>
    {% endstylesheets %}
{% endblock stylesheets %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '../app/Resources/public/js/libs/chosen_v1.1.0/chosen.jquery.min.js'
    '../app/Resources/public/js/libs/jquery.magnific-popup.min.js'
    '../app/Resources/public/js/pages/video.js'
    '../app/Resources/public/js/pages/user_content.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function() {
            $('.video').magnificPopup({
                type: 'iframe',
                removalDelay: 300,
                mainClass: 'mfp-fade'
            });

            $(".chosen-select").chosen({
                max_selected_options: 50,
                no_results_text: '{{ 'user.videos.manage.form.label_chosen_no_results_text'|trans }}'
            });
        });
    </script>
{% endblock javascripts %}
