{% extends 'SonataAdminBundle::standard_layout.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('/bundles/translation/js/editor.js') }}" type="text/javascript"></script>
    <script type="text/javascript">
        var removeUrl = '{{path('admin_translator_remove')}}';
        var updateUrl = '{{path('admin_translator_update')}}';
        $('.navbar-btn.sidebar-toggle').click();
    </script>
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/bundles/translation/css/editor.css') }}"/>
{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="{{ url('sonata_admin_dashboard') }}">{{ 'Dashboard'|trans }}</a>
        <span class="divider">/</span>
    </li>
    <li class="active">{{ 'Translations'|trans }}</li>
{% endblock %}

{% block content %}
    <div id="success-translation" class="alert alert-success">
        {{ 'Item has been successfully updated.'|trans }}
    </div>

    <div id="error-translation" class="alert alert-error"></div>

    <div style="float: right">
        <div class="sonata-actions">
            <a class="btn sonata-action-element add-new-translation" href="#">
                <i class="icon-plus"></i>
                {{ 'Add new'|trans }}
            </a>
            <a class="btn sonata-action-element search-form" href="#search-form">
                <i class="icon-search"></i>
                {{ 'Search'|trans }}
            </a>
            <a class="btn sonata-action-element" href="{{ path('admin_translator_list') }}">
                <i class="icon-refresh"></i>
                {{ 'Refresh'|trans }}
            </a>
        </div>
    </div>

    <form id="newTranslation" method="POST" action="{{ path('admin_translator_add') }}">
        <label for="key">{{ 'Source'|trans }}:</label> <input type="text" id="key" name="key"/> <br>
        {% for locale, v in locales %}
            <label for="locale_{{ locale }}">{{ locale }}:</label>
            <input id="locale_{{ locale }}" type="text" name="locale[{{ locale }}]"> <br>
        {% endfor %}
        <input type="submit" value="{{ 'Save'|trans }}" class="btn primary">
        <input class="btn close-new-translation" type="button" value="{{ 'Cancel'|trans }}">
    </form>

    <form id="searchTranslation" method="GET" action="" style="{{ app.request.get('search') ?: 'display:none;' }}">
        <label for="search">{{ 'Search'|trans }}:</label>
        <input type="search" id="search" name="search" required="required"
               value="{{ app.request.get('search') }}"/><br/>
        <input type="submit" value="{{ 'Search'|trans }}" class="btn btn-primary"/>
        <a class="btn" href="{{ path('admin_translator_list') }}">{{ 'Reset'|trans }}</a>
    </form>

    <h1>{{ 'Translations'|trans }}</h1>

    <div class="row">
        <div class="sonata-ba-list col-md-12">
            {% if empty %}
                <div class="box box-primary">
                    <div class="box-body table-responsive no-padding">
                        <div class="callout callout-info">
                            No result
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="box box-primary">
                    <div class="box-body table-responsive no-padding">

                        <form action="#" method="POST">
                            <table class="table table-bordered table-striped">
                                <thead>
                                    <tr class="sonata-ba-list-field-header">
                                        <th>{{ 'Source'|trans }}</th>
                                        {% for locale,v in locales %}
                                            <th class="sonata-ba-list-field-header-text">
                                                {{ locale }} {% if locale == default %}<span class="label label-info">{{ 'default'|trans }}</span>{% endif %}
                                            </th>
                                        {% endfor %}

                                        <th class="sonata-ba-list-field-header-_action">{{ 'Action'|trans }}</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for key, val in pagination %}
                                    <tr id="entry-{{ loop.index }}" {{ missing[key] is defined ? 'class="warning"' : 'class="ok"' }}>

                                        <td class="sonata-ba-list-field sonata-ba-list-field-text">{{ key }}</td>
                                        {% for locale,v in locales %}
                                            <td class="sonata-ba-list-field sonata-ba-list-field-text">
                                                <div id="current-{{ loop.parent.loop.index }}-{{ locale }}">
                                                    {% set exists = key in v.entries|keys %}
                                                    {% spaceless %}
                                                        <div id="current-{{ loop.parent.loop.index }}-{{ locale }}-content"
                                                             onclick="translation.showEditor('{{ loop.parent.loop.index }}-{{ locale }}')"
                                                             class="trans-editable">
                                                            <i class="icon-pencil"></i>
                                                            <span class="value">{% if exists %}{{ v.entries[key] }}{% endif %}</span>
                                                        </div>

                                                        {% if locale != default and exists and v.entries[key] == locales[default].entries[key] %}
                                                            <span class="label label-warning">{{ 'Duplicate'|trans }}</span>
                                                        {% endif %}

                                                        {% if not exists or v.entries[key]|length == 0 %}
                                                            <span class="label important"
                                                                  onclick="translation.showEditor('{{ loop.parent.loop.index }}-{{ locale }}')">{{ 'Missing'|trans }}</span>
                                                        {% endif %}
                                                    {% endspaceless %}
                                                </div>
                                                <div id="editor-{{ loop.parent.loop.index }}-{{ locale }}" class="editor">
                                                    <input type="text" class="form-control" value="{% if exists %}{{ v.entries[key] }}{% endif %}"><br />
                                                        <button type="submit" id="save-{{ loop.parent.loop.index }}-{{ locale }}"
                                                               class="btn btn-success"
                                                               onclick="translation.saveTranslation('{{ loop.parent.loop.index }}-{{ locale }}', '{{ key|e('js') }}', '{{ locale }}', '{{ default }}'); return false;"
                                                               ><i class="fa fa-save"></i> {{ 'Update'|trans }}</button>

                                                        <button class="btn btn-default" type="button" onclick="translation.hideEditor('{{ loop.parent.loop.index }}-{{ locale }}')">
                                                            <i class="fa fa-list"></i>
                                                            {{ 'Cancel'|trans }}
                                                        </button>
                                                </div>
                                            </td>
                                        {% endfor %}
                                        <td class="sonata-ba-list-field sonata-ba-list-field-_action">
                                            <div class="btn-group">
                                                <a href="#" id="remove-{{ loop.index }}" class="btn btn-sm btn-default delete_link"
                                                   title="{{ 'Delete'|trans }}"
                                                   onclick="confirm('{{ 'Are you sure?'|trans }}') && translation.deleteTranslation('{{ loop.index }}', '{{ key }}')">
                                                    <i class="glyphicon glyphicon-remove"></i>
                                                    {{ 'Delete'|trans }}
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}

                                    <tr>
                                        <td colspan="5">
                                            {{ knp_pagination_render(pagination, 'KnpPaginatorBundle:Pagination:twitter_bootstrap_v3_pagination.html.twig') }}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </form>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}