{% block genemu_captcha_widget %}
    <a id="{{ id }}_refresh" class="capcha-image">
        <img id="{{ id }}_image" src="{{ src }}" width="{{ width }}" height="{{ height }}" data-url="{{ path('genemu_captcha_refresh') }}" />
    </a>
    {{ block("form_widget_simple") }}
{% endblock %}