{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if object.type  == constant('TYPE_MINI_FORUM',object) %}
            {% trans %}<span class="label label-info">Forum</span>{% endtrans %}
        {% endif %}
        {% if object.type  == constant('TYPE_PUBLIC',object) %}
            {% trans %}<span class="label label-success">Public</span>{% endtrans %}
        {% endif %}
    {% endspaceless %}
{% endblock %}