{% extends "::base.html.twig" %}


{% block body %}
    <div class="content-area has-background">
        <div class="left-narrow-column">
            <div class="sticky">
                {{ sonata_block_render({ 'type': 'adrenalins.block.submenu' }, { 'attr': { 'page' : page }}) }}

                {% if page.parent.slug == 'school' %}
                    {{ sonata_block_render({ 'type': 'adrenalins.block.sms' }) }}
                {% endif %}
            </div>
        </div>

        <div class="right-wide-column add30v">
            <article>
                <a id="start" name="start"></a>

                <div class="article-heading-container">
                    {% if page.parent|length %}
                        <h2 class="article-parent">{{ page.parent }}</h2>
                    {% endif %}
                    <h1 class="article-heading">{{ page.title }}</h1>
                </div>

                {{ page.content|raw }}

                <div class="faq-container">
                    {% for topic in topics %}
                    <div class="topic">
                        <a name="question{{ topic.id }}" id="question{{ topic.id }}"></a>
                        <h6 class="question">{{ topic.question }}</h6>
                        <div class="answer">{{ topic.answer|raw }}</div>
                    </div>
                    {% endfor %}
                </div>
            </article>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '../app/Resources/public/js/pages/faq.js'
    '../app/Resources/public/js/pages/sms.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts%}
{% endblock javascripts %}
