<section class="vp">
    <div>
        <a href="{{ path('adrenalins_miniforum') }}" class="section-heading">
            {{ 'miniforum.block.mainpage.title'|trans }}
        </a>
    </div>

    <ul class="news-list">
        {% for news in items %}
            {% set url = path('adrenalins_miniforum_show', { 'slug' : news.slug }) %}
            <li{% if news.isSeen == false %} class="not-read"{% endif %} onclick="location.href = '{{ url }}';">
                {% if news.hasGalleries %}
                    <a href="{{ url }}#photogallery" class="has photogallery"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-pictures"></use></svg></a>
                {% else %}
                    <span class="photogallery"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-pictures"></use></svg></span>
                {% endif %}

                {% if news.hasVideos %}
                    <a href="{{ url }}#video" class="has video"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-play"></use></svg></a>
                {% else %}
                    <span class="video"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-play"></use></svg></span>
                {% endif %}

                <a href="{{ url }}#comments" class="badge{% if news.hasNewComments == true and news.numComments %} has{% endif %} comments"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-comment"></svg><span>{{ news.numComments }}</span></a>
                <a href="{{ url }}" class="news-title">{{ news.title }}</a>
            </li>
        {% endfor %}
    </ul>

    <div class="center">
        <div class="button inverse at-center">
            <a href="{{ path('adrenalins_miniforum') }}">
                {{ 'miniforum.block.mainpage.viewAll'|trans }}
                <svg class="svg-icon right" viewBox="0 0 16 16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-down3"></use></svg>
            </a>
        </div>
    </div>
</section>
