<section class="vp">
    <div>
        <a href="{{ path('adrenalins_news') }}" class="section-heading">
            {{ 'news.block.mainpage.title'|trans }}
        </a>
    </div>

    <ul class="news-list blocks">
        {% spaceless %}
        {% for news in items %}
            {% set url = path('adrenalins_news_show', { 'slug' : news.slug }) %}

            <li{% if news.isSeen == false %} class="not-read"{% endif %} onclick="location.href = '{{ url }}';">
                <a href="{{ url }}" class="news-thumbnail">
                    <img src="{% if news.imageThumb %}{{ news.imageThumb }}{% else %}/img/300x200/no-image-news.jpg{% endif %}" />
                </a>
                <a href="{{ url }}" class="news-title">{{ news.title }}</a>
                <div class="clearfix">
                    {% if news.hasGalleries %}
                        <a href="{{ url }}#photogallery" class="has photogallery"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-pictures"></use></svg></a>
                    {% else %}
                        <span class="photogallery"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-pictures"></use></svg></span>
                    {% endif %}

                    {% if news.hasVideos %}
                        <a href="{{ url }}#video" class="has video"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-play"></svg></a>
                    {% else %}
                        <span class="video"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-play"></svg></span>
                    {% endif %}
                    <a href="{{ url }}#comments" class="badge{% if news.hasNewComments == true and news.numComments %} has{% endif %} comments"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-comment"></svg><span>{{ news.numComments }}</span></a>
                </div>
            </li>
        {% endfor %}
        {% endspaceless %}
    </ul>

    <div class="center">
        <div class="button inverse at-center">
            <a href="{{ path('adrenalins_news') }}">
                {{ 'news.block.mainpage.viewAll'|trans }}
                <svg class="svg-icon right" viewBox="0 0 16 16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-down3"></use></svg>
            </a>
        </div>
    </div>
</section>
