<nav class="submenu">
    <ul>
        {% for item in items %}
            {% if parent|length %}
                <li{% if page.id == item.id %} class="current"{% endif %}><a href="{{ path('adrenalins_page_child_show', { 'slug' : item.slug, 'parent' : parent.slug }) }}">{{ item.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>