{% if pageCount > 1 %}
<div class="button inverse at-center">
    {% if next is defined %}
    <a data-page="{{ next }}" href="{{ path(route, query|merge({(pageParameterName): next})) }}">
        {{ 'news.index.pagination.loadMore'|trans }}
    </a>
    {% endif %}
</div>
{% endif %}
