<li>
    <h3 class="title"><a href="{{ doc.objectUrl }}">{{{ doc.title }}}</a></h3>
    <div class="smaller lighter">{{{ doc.breadcrumbs }}}</div>
    <div class="matching-string">{{{ doc.content }}}</div>
</li>