{{#result}}
<a class="waterfall-item video" href="{{ url }}">
    <img src="{{ image }}" alt="{{ title }}" />
    <div class="video-title animate">{{ title }}</div>
    <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-play"></use></svg>
</a>
{{/result}}