<div class="clearfix">
    <a target="_blank" href="https://www.facebook.com/adrenalinslv.paraplanierismaklubs"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-facebook"></use></svg></a>
    <a target="_blank" href="http://instagram.com/adrenalins.lv"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-instagram"></use></svg></a>
    {% for item in items %}
    <a href="{{ item.url }}" class="white-link">{{ item.title }}</a>
    {% endfor %}
    {% spaceless %}
    <a href="#cloudbase" class="search-link white-link">
        <span class="front animate">{{ 'common.visible_search.text'|trans }}</span>
        <span class="back animate">{{ 'common.hidden_search.text'|trans }}</span>
    </a>
    {% endspaceless %}
    {#<span class="copyright">{{ 'footer.copyright'|trans }}</span>#}
    <span class="copyright"><a href="{{ url('adrenalins_page_show', {'slug': 'payment-methods'}) }}"><img src="/img/payment/payment-methods.png" width="535" height="20" alt="" /></a></span>
</div>
<!-- социальные ссылки, кнопки добавим на живом сайте
 <div class="add5t center">
     <div class="fb-like" data-href="http://www.adrenalins.lv" data-layout="button_count" data-action="like" data-show-faces="true" data-share="false"></div>
 </div>
-->