<nav class="main-menu">
    <ul>
        {% for item in items %}
        <li{% if item.isCurrent %} class="current"{% endif %}>
            <a id="main-menu-link-{{ item.id }}" href="{{ item.url }}" {% if item.id == 10 %} target="_blank" {% endif %}>{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
</nav>

{% for key, subItem in subItems %}
<nav class="submenu submenu-popup" id="submenu-{{ key }}">
    {% spaceless %}
    <ul>
        {% for item in subItem %}
        <li{% if item.isCurrent %} class="current"{% endif %}>
            <a href="{{ item.url }}#start">{{ item.title }}</a>
        </li>
        {% endfor %}
    </ul>
    {% endspaceless %}
</nav>
{% endfor %}
