{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(place.title, page.title) }}{% endblock %}
{% block meta_description %}{{ page.seoDescription }}{% endblock %}
{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}


{% block body %}
    <div class="content-area has-background">
        <div class="left-narrow-column">
            <div class="sticky">
                {{ sonata_block_render({ 'type': 'adrenalins.block.submenu' }, { 'attr': { 'page' : page }}) }}

                {{ sonata_block_render({ 'type': 'adrenalins.block.events' }) }}

                <section class="add30b"></section>
            </div>
        </div>

        <div class="right-wide-column add30v">
            <article>
                <a id="start" name="start"></a>

                <div class="article-heading-container">
                    <h2 class="article-parent">
                        {% if page.parent|length %}
                            <a href="{{ path('adrenalins_page_show', {'slug' : 'club'}) }}">{{ page.parent.title }}</a> /
                        {% endif %}
                        <a href="{{ path('adrenalins_page_club_places_show') }}">{{ page.title }}</a>
                    </h2>

                    <h1 class="article-heading">{{ place.title }}</h1>
                    <div class="center lighter smaller">
                        <span class="article-place">
                            <svg class="svg-icon" viewBox="0 0 16 16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-location"></use></svg>
                            {{ place.latitude }}, {{ place.longitude }}
                        </span>
                    </div>
                </div>

                <div>
                    <div id="map-canvas" class="small add20b"></div>

                    <p>{{ place.description|raw }}</p>
                </div>
            </article>

            {% if place.news|length or place.events|length or place.videos|length or place.galleries|length %}
            <div class="add30t">
                <table id="linked-objects">
                    <thead>
                        <tr>
                            <th colspan="2">{{ 'places.show.linked_objects'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% if place.galleries|length %}
                        <tr>
                            <td>{{ 'places.show.linked_objects.photo'|trans }}</td>
                            <td>
                                <ul class="with-dividers">
                                {% for gallery in place.galleries %}
                                    <li>
                                        <div>
                                            <a href="{{ url('sonata_media_gallery_view', {'id' : gallery|sonata_urlsafeid }) }}">{{ gallery.name }}</a>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                    {% if place.videos|length %}
                        <tr>
                            <td>{{ 'places.show.linked_objects.video'|trans }}</td>
                            <td>
                                <ul class="with-dividers">
                                {% for video in place.videos %}
                                    <li>
                                        <div>
                                            <a class="video" href="{% if video.providerName == 'sonata.media.provider.youtube' %}http://www.youtube.com/watch?v={% else %}http://vimeo.com/{% endif %}{{ video.providerReference }}">
                                                {{ video.name }}
                                            </a>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                    {% if place.news|length %}
                        <tr>
                            <td>{{ 'places.show.linked_objects.news'|trans }}</td>
                            <td>
                                <ul class="with-dividers">
                                    {% for news in place.news %}
                                        <li>
                                            <div>
                                                <a href="{{ path('adrenalins_news_show', {'slug' : news.slug}) }}">{{ news.title }}</a>
                                            </div>
                                            <div class="small lighter">
                                                {{ news.createdAt|localizeddate('medium', 'none', app.request.locale) }}
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                    {% if place.events|length %}
                        <tr>
                            <td>{{ 'places.show.linked_objects.event'|trans }}</td>
                            <td>
                                <ul class="with-dividers">
                                {% for event in place.events %}
                                    <li>
                                        <div>
                                            <a href="{{ path('events_club_calendar_event', { 'id' : event.id }) }}">{{ event.title }}</a>
                                        </div>
                                    </li>
                                {% endfor %}
                                </ul>
                            </td>
                        </tr>
                    {% endif %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <div class="button at-center">
                <a href="{{ path('adrenalins_page_club_places_show') }}">{{ 'places.show.return_to_list'|trans }}</a>
            </div>

        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    <script src='https://maps.googleapis.com/maps/api/js?key=AIzaSyC8wSJSGkjnodOgN6xsf9y95ljtj6K6da8&sensor=false&extension=.js'></script>

    {% javascripts
    '../app/Resources/public/js/libs/jquery.magnific-popup.min.js'
    '../app/Resources/public/js/pages/contacts.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        $(function () {
            $('.video').magnificPopup({
                type: 'iframe',
                removalDelay: 300,
                mainClass: 'mfp-fade'
            });

            google.maps.event.addDomListener(window, 'load', init('{{ place.title }}', '{{ place.latitude }},{{ place.longitude }}'));
        });
    </script>
{% endblock javascripts %}
