{% extends "::base.html.twig" %}

{% set slidesOutputType = get_setting('slides-output-type', 'Photo') %}

{% if page %}
    {% block meta_description %}{{ page.seoDescription }}{% endblock %}
    {% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}
{% endif %}

{% block pageSlideContainer %}
    {% if slidesOutputType == 'Photo' %}
        {% for slide in slides %}
            <div class="slide-container{% if loop.first %} current{% endif %}" style="background: url('{{ slide.slideImage }}')"></div>
        {% endfor %}
    {% else %}
        <div class="slide-container current"></div>
    {% endif %}
{% endblock %}

{% block body %}
    {{ sonata_block_render({ 'type': 'adrenalins.block.slides' }) }}

    <div class="content-area has-background">
        <a id="start" name="start"></a>

        <div class="left-wide-column">
            {% if app.user %}
                {{ sonata_block_render({ 'type': 'adrenalins.block.miniforum' }, { 'attr': { 'user': app.user } } ) }}
            {% endif %}

            {{ sonata_block_render({ 'type': 'adrenalins.block.news' }, { 'attr': { 'user': app.user } } ) }}
        </div>

        <div class="right-narrow-column">
            {{ sonata_block_render({ 'type': 'adrenalins.block.media' }) }}

            {{ sonata_block_render({ 'type': 'adrenalins.block.events' }) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '../app/Resources/public/js/libs/jquery.vide.js'
    '../app/Resources/public/js/libs/jquery.resizeimagetoparent.js'
    '../app/Resources/public/js/libs/jquery.lettering.js'
    '../app/Resources/public/js/libs/jquery.textillate.js'
    '../app/Resources/public/js/pages/main.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% if slidesOutputType == 'Video' and slides|length %}
    {% set firstSlide = slides|first %}
    <script type="text/javascript">
        $(".slide-container").vide(
            "{{ get_setting('slides-video-url', 'http://vjs.zencdn.net/v/oceans.mp4') }}",
            {
                posterImage: "{{ firstSlide.slideImage }}"
            }
        );
    </script>
    {% endif %}

    {% if app.session.flashbag.has('notice') %}
    <script type="text/javascript">
        {% for flashMessage in app.session.flashbag.get('notice') %}
        $.magnificPopup.open({
            items: {
                src: '<div class="white-popup">{{ flashMessage | raw }}</div>',
                type: 'inline'
            },
            midClick: true,
            overflowY: 'auto',
            removalDelay: 300,
            closeBtnInside: true
        }, 0);
        {% endfor %}
    </script>
    {% endif %}

{% endblock javascripts %}
