{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(page.title, (page.parent) ? page.parent.title : '') }}{% endblock %}
{% block meta_description %}{{ page.seoDescription }}{% endblock %}
{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}


{% block body %}
    <div class="content-area has-background">
        <div class="left-narrow-column">
            <div class="sticky" id="left-column">
                {% if page.parent|length %}
                    {{ sonata_block_render({ 'type': 'adrenalins.block.submenu' }, { 'attr': { 'page' : page }}) }}

                    {% if page.parent.slug == 'club' %}
                        {{ sonata_block_render({ 'type': 'adrenalins.block.events' }) }}
                    {% elseif page.parent.slug == 'school' or page.parent.slug == 'paramotors' %}
                        {{ sonata_block_render({ 'type': 'adrenalins.block.sms' }) }}
                    {% endif %}
                {% endif %}

                {% if page.leftSideContent|length %}
                    {{ page.leftSideContent|raw }}
                {% endif %}
            </div>
        </div>

        <div class="right-wide-column add30v">
            <article>
                <a id="start" name="start"></a>

                <div class="article-heading-container">
                    {% if page.parent|length %}
                        <h2 class="article-parent">{{ page.parent }}</h2>
                    {% endif %}
                    <h1 class="article-heading">{{ page.title }}</h1>
                </div>

                {{ content|raw }}
            </article>

            {% if gallery %}
                {% include 'ApplicationSonataMediaBundle:Gallery:_images_output.html.twig' with { 'gallery' : gallery } %}
            {% endif %}
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '../app/Resources/public/js/pages/gallery.js'
    '../app/Resources/public/js/pages/sms.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
