{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(page.title, (page.parent) ? page.parent.title : '') }}{% endblock %}
{% block meta_description %}{{ page.seoDescription }}{% endblock %}
{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}


{% block body %}
    <div class="content-area has-background">
        {% if page.layout == '2columns' %}
        <div class="left-narrow-column">
            <div class="sticky">
                {{ sonata_block_render({ 'type': 'adrenalins.block.submenu' }, { 'attr': { 'page' : page }}) }}

                {{ sonata_block_render({ 'type': 'adrenalins.block.events' }) }}

                {% if page.leftSideContent|length %}
                    {{ page.leftSideContent|raw }}
                {% endif %}
            </div>
        </div>
        {% endif %}

        <div class="{% if page.layout == 'default' %}only-column add30v{% else %}right-wide-column add30v{% endif %}">
            <article>
                {% if page.layout != 'default' %}
                    <a id="start" name="start"></a>
                {% endif %}

                <div class="article-heading-container">
                    {% if page.parent|length %}
                        <h2 class="article-parent">{{ page.parent }}</h2>
                    {% endif %}
                    <h1 class="article-heading">{{ page.title }}</h1>
                </div>

                {{ page.content|raw }}

                {% if users|length %}
                    {{ include( 'UserBundle::_pilots.html.twig', { 'users': users }) }}
                {% endif %}
            </article>
        </div>
    </div>
{% endblock body %}