{% if wo_breadcrumbs()|length %}
    {% spaceless %}
        {% for b in breadcrumbs %}
            {{- b.text | trans(b.translationParameters, translation_domain, locale) -}}

            {% if separator is not null and not loop.last %}
                {{ separator }}
            {% endif %}
        {% endfor %}
    {% endspaceless %}
{% endif %}