{% extends 'SonataAdminBundle:CRUD:base_list_field.html.twig' %}

{% block field %}
    {% spaceless %}
        {% if value %}
            <span class="label label-success">
                {%- trans from 'SonataAdminBundle' %}label_type_yes{% endtrans -%}
            </span>
        {% else %}
            <span class="label label-danger">
                {%- trans from 'SonataAdminBundle' %}label_type_no{% endtrans -%}
            </span>
        {% endif %}
    {% endspaceless %}
{% endblock %}