{% extends "::base.html.twig" %}

{% block body %}
    <div class="content-area">
        <div class="button back"><a href="#go-back"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-arrow-left3"></use></svg></a></div>
        <div class="has-background clearfix">
            <div class="only-column add30v">
                <div class="main-content">
                    <a id="start" name="start"></a>
                    <div class="article-heading-container">
                        <h2 class="article-parent">{{ user }}</h2>
                        <h1 class="article-heading">{{ 'user.profile.edit.title'|trans }}</h1>
                    </div>

                    <div class="user-form">
                        <form enctype="multipart/form-data" action="{{ path('sonata_user_profile_edit') }}" method="POST">

                            {% for flashMessage in app.session.flashbag.get('success') %}
                                <div class="msg-success">
                                    <p>{{ flashMessage | trans | raw }}</p>
                                </div>
                            {% endfor %}

                            {% for flashMessage in app.session.flashbag.get('error') %}
                                <div class="msg-error">
                                    <p>{{ flashMessage | trans }}</p>
                                    {% if formErrors %}
                                        {% for errorField,erroMessage in formErrors %}
                                            <p>{{ ('Field "%field%" error message "%error%"' | trans ({'%field%' : errorField , '%error%' : erroMessage|trans })) }}</p>
                                        {% endfor %}

                                    {% endif %}
                                </div>
                            {% endfor %}

                            <fieldset>
                                <legend>{{ 'user.profile.edit.legend.personal_information'|trans  }}</legend>
                                <div class="row clearfix avatar-container">

                                    {{ form_row(form.biography) }}

                                    <div class="pilot-picture has-icons">
                                        <div class="avatar size-140">
                                            <img src="{{ user.avatar }}" border="0" alt="{{ user }}" title="{{ user }}" />

                                            <div class="his-data">
                                                <a href="#his-photos" class="hastip" title="Photogalleries | 13"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-pictures"></use></svg></a>
                                                <a href="#his-videos" class="hastip" title="Video | 2"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-play"></use></svg></a>
                                                <a href="#his-news" class="hastip" title="News | 23"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-text2"></use></svg></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="row clearfix one-half">
                                    {{ form_row(form.file) }}
                                </div>

                                <div class="row clearfix one-half">
                                    <label for="pg-name">{{ 'user.profile.edit.form.label_paraglider_title'|trans }}</label>

                                    <ul class="paragliders" data-prototype="{{ form_widget(form.paragliders.vars.prototype)|e }}">
                                        {% for paraglider in form.paragliders %}
                                            {{ form_widget(paraglider.model) }}
                                        {% endfor %}

                                        {{ form_widget(form.paragliders.vars.prototype.model)|e }}
                                    </ul>
                                </div>

                                <div class="row clearfix one-half">
                                    {{ form_row(form.beganToFly, { 'attr' : { 'class' : 'select-year float-left' } }) }}

                                    <div class="float-left add10l input-addition">
                                        {{ 'user.profile.edit.form.label_paraglider_beganToFlyYear'|trans }}
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>{{ 'user.profile.edit.legend.contact_information'|trans }}</legend>

                                <div class="row clearfix one-half">
                                    {{ form_row(form.email) }}
                                </div>

                                <div class="row clearfix one-half">
                                    {{ form_row(form.phone) }}
                                </div>

                                <div class="row clearfix one-half">
                                    {{ form_row(form.smsMail) }}
                                </div>

                                <div class="row clearfix one-half">
                                    {{ form_row(form.website) }}
                                </div>
                            </fieldset>

                            <fieldset>
                                <legend>{{ 'user.profile.edit.legend.change_password'|trans }}</legend>
                                <div class="row clearfix one-half">
                                    {{ form_label(form.currentPassword) }}
                                    {{ form_widget(form.currentPassword) }}
                                </div>
                                <div class="row clearfix one-half">
                                    {{ form_row(form.newPassword.first) }}
                                </div>
                                <div class="row clearfix one-half">
                                    {{ form_row(form.newPassword.second) }}
                                </div>
                            </fieldset>

                            <div class="button inverse at-center">
                                {{ form_rest(form) }}

                                <input type="submit" value="{{ 'user.profile.edit.form.label_submit'|trans }}">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}


{% block javascripts %}
    {{ parent() }}

    {% javascripts '../app/Resources/public/js/pages/profile.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts%}
{% endblock javascripts %}
