{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(user ~ ' / ' ~ page.title, (page.parent) ? page.parent.title : '') }}{% endblock %}
{% block meta_description %}{{ page.seoDescription }}{% endblock %}
{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}


{% block body %}
    <div class="content-area">
        <div class="button back">
            <a href="{{ path('adrenalins_page_club_pilots_show') }}">
                <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-arrow-left3"></use></svg>
            </a>
        </div>
    </div>

    <div class="content-area has-background">
        {% if page.layout == '2columns' %}
        <div class="left-narrow-column">
            <div class="sticky" id="left-column">
                {{ sonata_block_render({ 'type': 'adrenalins.block.submenu' }, { 'attr': { 'page' : page }}) }}

                {{ sonata_block_render({ 'type': 'adrenalins.block.events' }) }}

                {% if page.leftSideContent|length %}
                    {{ page.leftSideContent|raw }}
                {% endif %}
            </div>
        </div>
        {% endif %}

        <div class="{% if page.layout == 'default' %}only-column add30v{% else %}right-wide-column add30v{% endif %}">
            <article>
                <div class="article-heading-container">
                    {% if page.parent|length %}
                        <h2 class="article-parent">{{ page.parent }}</h2>
                    {% endif %}
                    <h1 class="article-heading">{{ user }}</h1>
                </div>
            </article>

            <ul>
                {{ include( 'UserBundle::_pilots_profile.html.twig', { 'user': user }) }}
            </ul>

            <div id="pilotContent" class="clearfix add30t">

                <ul class="resp-tabs-list">
                    {% spaceless %}
                        {% if galleries|length %}
                            <li data-tab-name="photos">{{ 'pilots.show.tab.photos'|trans }}</li>
                        {% endif %}

                        {% if videos|length %}
                            <li data-tab-name="videos">{{ 'pilots.show.tab.videos'|trans }}</li>
                        {% endif %}

                        {% if news|length %}
                            <li data-tab-name="news">{{ 'pilots.show.tab.news'|trans }}</li>
                        {% endif %}

                        {% if app.user and miniForum|length %}
                            <li data-tab-name="posts">{{ 'pilots.show.tab.miniforum_posts'|trans }}</li>
                        {% endif %}

                        {% if events|length %}
                            <li data-tab-name="events">{{ 'pilots.show.tab.events'|trans }}</li>
                        {% endif %}

                        {% if places|length %}
                            <li data-tab-name="places">{{ 'pilots.show.tab.places'|trans }}</li>
                        {% endif %}

                    {% endspaceless %}
                </ul>

                <div class="resp-tabs-container">

                    {% if galleries|length %}
                    <div class="resp-tabs-content-padding">
                        <ul class="with-dividers">
                            {% for gallery in galleries %}
                            {% spaceless %}
                            <li>
                                <a href="{{ url('sonata_media_gallery_view', {'id' : gallery|sonata_urlsafeid }) }}">
                                    {{ gallery.name }}
                                    <div class="badge simple float-right">
                                        {{ gallery.galleryHasMedias|length }}
                                    </div>
                                </a>
                            </li>
                            {% endspaceless %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if videos|length %}
                    <div class="resp-tabs-content-padding">
                        <ul class="with-dividers">
                            {% for video in videos %}
                            {% spaceless %}
                            <li>
                                <a class="video" href="{% if video.providerName == 'sonata.media.provider.youtube' %}http://www.youtube.com/watch?v={% else %}http://vimeo.com/{% endif %}{{ video.providerReference }}">
                                    {{ video.name }}
                                    {% if video.length %}
                                    <div class="badge simple float-right">
                                        {{ video.duration }}
                                    </div>
                                    {% endif %}
                                </a>
                            </li>
                            {% endspaceless %}
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if news|length %}
                    <div class="resp-tabs-content-padding">
                        <ul class="with-dividers">
                            {% for item in news %}
                            <li>
                                <a href="{{ path('adrenalins_news_show', {'slug' : item.slug}) }}">
                                    {{ item.title }}
                                </a>
                                <div class="small lighter">{{ item.createdAt|localizeddate('long', 'none', app.request.locale) }}</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if app.user and miniForum|length %}
                    <div class="resp-tabs-content-padding">
                        <ul class="with-dividers">
                            {% for item in miniForum %}
                            <li>
                                <a href="{{ path('adrenalins_miniforum_show', {'slug' : item.slug}) }}">
                                    {{ item.title }}
                                </a>
                                <div class="small lighter">{{ item.createdAt|localizeddate('long', 'none', app.request.locale) }}</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if events|length %}
                    <div class="resp-tabs-content-padding">
                        <ul class="with-dividers">
                            {% for event in events %}
                            <li>
                                <a href="{{ path('events_club_calendar_event', {'id' : event.id}) }}">
                                    {{ event.title }}
                                </a>
                                <div class="small lighter">
                                    {{ event.dateBegin|localizeddate('long', 'short', app.request.locale) }}{% if event.dateEnd %} &mdash; {{ event.dateEnd|localizeddate('long', 'short', app.request.locale) }}{% endif %}
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                    {% if places|length %}
                    <div class="resp-tabs-content-padding">
                        <ul class="with-dividers">
                            {% for place in places %}
                            <li>
                                <a href="{{ path('adrenalins_places_show', {'id' : place.id}) }}">{{ place.title }}</a>
                                <div class="small lighter"> {{ place.latitude }}, {{ place.longitude }}</div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    {% endif %}

                </div>
            </div>

            <div class="button inverse at-center add30t">
                <a href="{{ path('adrenalins_page_club_pilots_show') }}">
                    <svg class="svg-icon" viewBox="0 0 16 16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left3"></use></svg>
                    {{ 'pilots.show.return_to_list'|trans }}
                </a>
            </div>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '../app/Resources/public/js/libs/jquery.easyResponsiveTabs.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts%}

    <script type="text/javascript">
        $('.video').magnificPopup({
            type: 'iframe',
            removalDelay: 300,
            mainClass: 'mfp-fade'
        });

        var hash = window.location.hash,
            $easyResponsiveTabs = $('#pilotContent').easyResponsiveTabs();

        function changeEasyResponsiveActiveTab(hash) {
            if(hash == '#galleries') {
                hash = '#photos';
            }

            var $tab = $('ul.resp-tabs-list').find("[data-tab-name='"+ hash.replace('#', '') +"']");
            if($tab) {
                $tab.trigger('click').trigger('tabactivate', $tab);
            }
        }

        if(!hash) {
            changeEasyResponsiveActiveTab(hash);
        }

        window.onhashchange = function() {
            changeEasyResponsiveActiveTab(window.location.hash);
        };
    </script>
{% endblock javascripts %}