.icon {
    display: inline-block;
    width: 16px;
    height: 16px;
    fill: #000;
}
.icon-phone {}
.icon-mobile {}
.icon-directions {}
.icon-mail {}
.icon-pencil {}
.icon-paperclip {}
.icon-drawer {}
.icon-reply {}
.icon-reply-all {}
.icon-forward {}
.icon-user {}
.icon-users {}
.icon-user-add {}
.icon-vcard {}
.icon-export {}
.icon-location {}
.icon-map {}
.icon-compass {}
.icon-location2 {}
.icon-target {}
.icon-heart {}
.icon-heart2 {}
.icon-star {}
.icon-star2 {}
.icon-thumbsup {}
.icon-thumbsdown {}
.icon-chat {}
.icon-comment {}
.icon-quote {}
.icon-house {}
.icon-popup {}
.icon-search {}
.icon-flashlight {}
.icon-printer {}
.icon-bell {}
.icon-link {}
.icon-flag {}
.icon-cog {}
.icon-tools {}
.icon-trophy {}
.icon-tag {}
.icon-camera {}
.icon-megaphone {}
.icon-moon {}
.icon-book {}
.icon-newspaper {}
.icon-bag {}
.icon-airplane {}
.icon-lifebuoy {}
.icon-eye {}
.icon-clock {}
.icon-calendar {}
.icon-bolt {}
.icon-droplet {}
.icon-briefcase {}
.icon-hourglass {}
.icon-key {}
.icon-battery {}
.icon-bucket {}
.icon-magnet {}
.icon-drive {}
.icon-cup {}
.icon-rocket {}
.icon-brush {}
.icon-suitcase {}
.icon-cone {}
.icon-earth {}
.icon-browser {}
.icon-publish {}
.icon-progress-3 {}
.icon-progress-2 {}
.icon-brogress-1 {}
.icon-progress-0 {}
.icon-sun {}
.icon-sun2 {}
.icon-adjust {}
.icon-code {}
.icon-screen {}
.icon-infinity {}
.icon-light-bulb {}
.icon-database {}
.icon-voicemail {}
.icon-clipboard {}
.icon-cart {}
.icon-box {}
.icon-rss {}
.icon-pie {}
.icon-bars {}
.icon-graph {}
.icon-lock {}
.icon-lock-open {}
.icon-logout {}
.icon-login {}
.icon-checkmark {}
.icon-cross {}
.icon-minus {}
.icon-plus {}
.icon-cross2 {}
.icon-minus2 {}
.icon-plus2 {}
.icon-cross3 {}
.icon-minus3 {}
.icon-plus3 {}
.icon-erase {}
.icon-blocked {}
.icon-info {}
.icon-info2 {}
.icon-question {}
.icon-help {}
.icon-warning {}
.icon-cycle {}
.icon-cw {}
.icon-ccw {}
.icon-shuffle {}
.icon-arrow {}
.icon-arrow2 {}
.icon-retweet {}
.icon-loop {}
.icon-history {}
.icon-back {}
.icon-switch {}
.icon-list {}
.icon-add-to-list {}
.icon-layout {}
.icon-list2 {}
.icon-text {}
.icon-text2 {}
.icon-document {}
.icon-landscape {}
.icon-pictures {}
.icon-video {}
.icon-music {}
.icon-folder {}
.icon-trash {}
.icon-disk {}
.icon-bookmark {}
.icon-bookmarks {}
.icon-book2 {}
.icon-play {}
.icon-pause {}
.icon-record {}
.icon-stop {}
.icon-next {}
.icon-previous {}
.icon-first {}
.icon-last {}
.icon-resize-enlarge {}
.icon-resize-shrink {}
.icon-volume {}
.icon-sound {}
.icon-mute {}
.icon-arrow-left {}
.icon-arrow-down {}
.icon-arrow-up {}
.icon-arrow-right {}
.icon-arrow-left2 {}
.icon-arrow-down2 {}
.icon-arrow-up2 {}
.icon-arrow-right2 {}
.icon-arrow-left3 {}
.icon-arrow-down3 {}
.icon-arrow-up3 {}
.icon-arrow-right3 {}
.icon-arrow-left4 {}
.icon-arrow-down4 {}
.icon-arrow-up4 {}
.icon-arrow-up5 {}
.icon-arrow-left5 {}
.icon-arrow-down5 {}
.icon-arrow-up6 {}
.icon-arrow-right4 {}
.icon-menu {}
.icon-ellipsis {}
.icon-dots {}
.icon-dot {}
.icon-vimeo {}
.icon-vimeo2 {}
.icon-twitter {}
.icon-twitter2 {}
.icon-facebook {}
.icon-facebook2 {}
.icon-facebook3 {}
.icon-googleplus {}
.icon-googleplus2 {}
.icon-pinterest {}
.icon-pinterest2 {}
.icon-tumblr {}
.icon-tumblr2 {}
.icon-linkedin {}
.icon-linkedin2 {}
.icon-instagram {}
.icon-dropbox {}
.icon-skype {}
.icon-skype2 {}