{% set profileUrl = path('adrenalins_user_public_profile', {'username' : user.username}) %}
{% set isContactsPage = (app.request.attributes.get('_route') == 'adrenalins_page_contacts_show') %}

<li class="vp">
    <div class="pilot-data">
        <a href="{{ profileUrl }}" class="bigger" id="pilot-{{ user.id }}" name="pilot-{{ user.id }}">{{ user }}</a>
        {% if user.status %}
            <div class="small lighter uppercase add10b">{{ user.status }}</div>
        {% endif %}
        {% if app.user or isContactsPage %}
        <div class="smaller add10b">
            {% if user.phone|length %}{{ user.phone }}<br />{% endif %}
            {% if user.email|length %}<a href="mailto:{{ user.email }}">{{ user.email }}</a>{% endif %}
        </div>
        {% endif %}
    </div>

    <div class="pilot-picture{% if user.galleriesNum or user.videosNum or user.newsNum %} has-icons{% endif %}">
        <div class="avatar size-140">
            <img src="{{ user.avatar }}" title="{{ user }}" border="0" />
            <div class="his-data">
                {% if user.galleriesNum %}<a href="{{ profileUrl }}#galleries" class="hastip" title="{{ 'pilots.info.photogalleries'|trans({'%num%' : user.galleriesNum}) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-pictures"></use></svg></a>{% endif %}
                {% if user.videosNum %}<a href="{{ profileUrl }}#videos" class="hastip" title="{{ 'pilots.info.videos'|trans({'%num%' : user.videosNum}) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-play"></use></svg></a>{% endif %}
                {% if user.newsNum %}<a href="{{ profileUrl }}#news" class="hastip" title="{{ 'pilots.info.news'|trans({'%num%' : user.newsNum}) }}"><svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-text2"></use></svg></a>{% endif %}
            </div>
        </div>
    </div>

    <div class="pilot-details">
        {% if user.biography|length %}
            <div class="clearfix">
                <div class="he-says">
                    {{ user.biography|truncate(256, true, '&hellip;')|raw }}
                </div>
            </div>
        {% endif %}

        {% if user.paraglidersAsString %}
            <div class="smaller">
                <span class="smaller lighter">{{ 'pilots.info.flying_with'|trans }}</span><br />
                {{ user.paraglidersAsString }}
            </div>
        {% endif %}
    </div>
</li>