{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(page.title, (page.parent) ? page.parent.title : '') }}{% endblock %}
{% block meta_description %}{{ page.seoDescription }}{% endblock %}
{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}


{% block body %}
    <div class="content-area has-background">
        <div class="left-narrow-column">
            <div class="sticky">
                {{ sonata_block_render({ 'type': 'adrenalins.block.submenu' }, { 'attr': { 'page' : page }}) }}

                <section class="add30b"></section>
            </div>
        </div>

        <div class="right-wide-column add30v">
            <article>
                <a id="start" name="start"></a>

                <div class="article-heading-container">
                    {% if page.parent|length %}
                        <h2 class="article-parent">{{ page.parent }}</h2>
                    {% endif %}
                    <h1 class="article-heading">{{ page.title }}</h1>

                    <div id="adrenalins-calendar"></div>
                </div>
            </article>
        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts
    '../app/Resources/public/js/libs/calendar/moment.min.js'
    '../app/Resources/public/js/libs/fullcalendar.min.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts%}

    <script type="text/javascript">
        $(document).ready(function() {
            var $calendar = $("#adrenalins-calendar");
            $calendar.fullCalendar({
                firstDay: 1,
                weekMode: 'liquid',
                height: 700,
                allDaySlot: false,
                buttonIcons: {
                    prev: 'left-single-arrow',
                    next: 'right-single-arrow'
                },
                eventClick: function(event) {
                    if (event.url) {
                        window.location.href = event.url;
                        return false;
                    }
                },
                events: {{ events | raw }},
                timeFormat: 'H:mm{ - H:mm}'
            });

            var hash = window.location.hash;
            if(hash) {
                var $date = $.fullCalendar.moment(hash.substring(1));
                if($date.isValid()) {
                    $calendar.fullCalendar('gotoDate', $date);
                }
            }
        });
    </script>
{% endblock javascripts %}
