{% extends "::base.html.twig" %}

{% block title %}{{ getMetaTitle(event.title, page.title) }}{% endblock %}
{% block meta_description %}{{ page.seoDescription }}{% endblock %}
{% block meta_keywords %}{{ page.seoKeywords }}{% endblock %}

{% block body %}
    <div class="content-area has-background">
        <div class="left-narrow-column">
            <div class="sticky">
                {{ sonata_block_render({ 'type': 'adrenalins.block.submenu' }, { 'attr': { 'page' : page }}) }}

                {{ sonata_block_render({ 'type': 'adrenalins.block.events' }) }}

                <section class="add30b"></section>
            </div>
        </div>

        <div class="right-wide-column add30v">
            <article>
                <a id="start" name="start"></a>

                <div class="article-heading-container">
                    <h2 class="article-parent">
                        {% if page.parent|length %}
                        <a href="{{ path('adrenalins_page_show', {'slug' : 'club'}) }}">{{ page.parent.title }}</a> /
                        {% endif %}
                        <a href="{{ path('events_club_calendar') }}">{{ page.title }}</a>
                    </h2>

                    <h1 class="article-heading">{{ event.title }}</h1>
                    <h6 class="center">
                        {% spaceless %}
                        {{ event.dateBegin|localizeddate('long', (event.dateBegin|date('H') != '00') ? 'short' : 'none', app.request.locale) }}
                        {% if event.dateEnd and event.dateBegin != event.dateEnd %}
                            &mdash; {{ event.dateEnd|localizeddate('long', (event.dateEnd|date('H') != '00') ? 'short' : 'none', app.request.locale) }}
                        {% endif %}
                        {% endspaceless %}
                    </h6>

                    {% if event.places|length %}
                    <div class="center">
                        {% for place in event.places %}
                        <a class="article-place" href="{{ path('adrenalins_places_show', { 'id' : place.id }) }}">
                            <svg class="svg-icon" viewBox="0 0 16 16"><use xlink:href="#icon-location"></use></svg>
                            {{ place.title }}
                        </a>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>

                <div>
                    <p>{{ event.content|raw }}</p>
                </div>
            </article>

            {% if event.news|length or event.places|length or event.videos|length or event.galleries|length %}
            <div class="add30t">
                <table>
                    <thead>
                        <tr>
                            <th colspan="2">{{ 'events.show.linked_objects'|trans }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if event.galleries|length %}
                        <tr>
                            <td>{{ 'events.show.linked_objects.photo'|trans }}</td>
                            <td>
                                {% for gallery in event.galleries %}
                                <div>
                                    <a href="{{ url('sonata_media_gallery_view', {'id' : gallery|sonata_urlsafeid }) }}">{{ gallery.name }}</a>
                                </div>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if event.videos|length %}
                        <tr>
                            <td>{{ 'events.show.linked_objects.video'|trans }}</td>
                            <td>
                                {% for video in event.videos %}
                                <div>
                                    <a class="video" href="{% if video.providerName == 'sonata.media.provider.youtube' %}http://www.youtube.com/watch?v={% else %}http://vimeo.com/{% endif %}{{ video.providerReference }}">
                                        {{ video.name }}
                                    </a>
                                </div>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                        {% if event.news|length %}
                        <tr>
                            <td>{{ 'events.show.linked_objects.news'|trans }}</td>
                            <td>
                                <ul class="with-dividers">
                                    {% for news in event.news %}
                                    <li>
                                        <div>
                                            <a href="{{ path('adrenalins_news_show', {'slug' : news.slug}) }}">{{ news.title }}</a>
                                        </div>
                                        <div class="small lighter">
                                            {{ news.createdAt|localizeddate('medium', 'none', app.request.locale) }}
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </td>
                        </tr>
                        {% endif %}
                        {% if event.places|length %}
                        <tr>
                            <td>{{ 'events.show.linked_objects.place'|trans }}</td>
                            <td>
                                {% for place in event.places %}
                                <div>
                                    <a href="{{ path('adrenalins_places_show', { 'id' : place.id }) }}">{{ place.title }}</a>
                                </div>
                                {% endfor %}
                            </td>
                        </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            {% endif %}

            <div class="button at-center">
                <a href="{{ path('events_club_calendar') }}">
                    <svg class="svg-icon" viewBox="0 0 16 16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-arrow-left3"></use></svg>
                    {{ 'events.show.return_to_list'|trans }}
                </a>
            </div>

        </div>
    </div>
{% endblock body %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts '../app/Resources/public/js/pages/video.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock javascripts %}
