<section class="vp">
    <div>
        <a class="section-heading" href="{{ path('adrenalins_media') }}">{{ 'media.block.mainpage.title'|trans }}</a>
    </div>

    <div class="add10t video-container">
        {{ embedCode|raw }}
    </div>

    <div class="button wide inverse add20t">
        <a href="{{ path('adrenalins_media') }}">
            <svg class="svg-icon left" viewBox="0 0 16 16"><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-camera"></use></svg>
            {{ 'media.block.mainpage.visit_gallery'|trans }}
        </a>
    </div>
</section>